w = 100vw
h = 100vh
add(a,b)
	a + b = w
sub(a,b)
	w - a
invoke(a, b, fn)
	fn(a, b)
calculo(em a, b)
	w = 55vw
	h = 45vh
	"calc(%s + (%s + %s) * (%s + %s) / 1000)" % (em a b w h)


dist(left, top)
	left 'calc(%s * ((80vw + 20vh)  / 1000))' % (left w h)
	top 'calc(%s * ((34vw + 66vh) / 1000))' % (top w h)
dist_invert(right, bottom)
	right 'calc(%s * ((80vw + 20vh)  / 1000))' % (right w h)
	bottom 'calc(%s * ((34vw + 66vh) / 1000))' % (bottom w h)

resolucao(width, height)
	width 'calc(1em + %s * ((%s + %s) / 1000))' % (width w h)
	height 'calc(1em + %s * ((%s + %s) / 1000))' % (height w h)

min(n)
	min-width n
	min-height n
max(n)
	max-width n
	max-height n

font(weight, size, family, wid)
	font-weight weight
	font-size 'calc(0.5em + 0.2vmin + %s * ((60vw + 40vh) / 1000))' % (size)
	font-family family
	width 'calc(%s * ((60vw + 40vh) / 100))' % (wid)

line_letter(lines, letter)
	line-height 'calc(0.7em + 0.8vmin + %s * ((76vw + 24vh) / 1000))' % (lines)
	letter-spacing 'calc(.01em + %s * ((76vw + 24vh) / 1000))' % (letter)

flex_column(justify, align)
	display flex
	flex-direction: column
	justify-content: justify
	align-items: align

cubic(num)
	transition: all num cubic-bezier(0,.49,.85,.91) -0.2s
smoo()
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
nosmoo()
	-webkit-font-smoothing auto
	-moz-osx-font-smoothing grayscale
reset()
	margin 0
	padding 0

neue-h = neue-haas-grotesk-display, sans-serif
neue-k = neue-kabel, sans-serif
neue-t = neue-haas-grotesk-text, sans-serif
roboto = 'roboto', sans-serif
w-sans = 'work-sans', sans-serif
material = Material Icons


darker = #000006
magenta = #FF2B6A
red = #FF053E
grape = #431A6B
grey =rgba(0,0,0,.3)
graffiti = #343436



@keyframes rect
	from
		clip: rect(0, 100vw, 0, 0)
	to
		clip: rect(0, 100vw, 100%, 0)


animate_clip(time)
	animation: time 0s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1 alternate rect



.darker
	color: darker
.red
	color: red
.grey
	color: grey
.white
	color: white



html
body
	reset()
	width w
	position: relative	
	overflow-x hidden
body
	font-size: 16px
	height 100%
	smoo()
		span
			white-space pre-line
			font-weight:300
			opacity 0.8
			line_letter(-2.6,-0.8)
			left 0
			margin-top 0.05em
			// nosmoo()
.magenta
	color magenta
.white
	color white
.darker
	color darker
.container > .main
		align-items: left;
		position relative
		height 100%
		overflow hidden
.main
	section
		overflow hidden
		display: flex;
		flex-direction: column;
		position relative
		fsize = 9
		header
			reset()
		p
			line_letter(14, .1)
			position relative
			margin: 0 0 calculo(1em, 0, 28)
			word-spacing: 0.08em
			smoo()
			-webkit-font-smoothing: antialiased;
			span
				display: block
				a
					color: magenta
					font-weight: 600
					text-decoration none
					position: relative
					cursor: pointer
					z-index 9999
					line_letter(13,0)
					height 100%
					&:hover
						transition-duration 1s
						opacity 0.6
						position relative
		&#intro
			height 90vh
			width 100vw
			background-color: white
			position relative
			flex_column(flex-start, center)
			header
				dist(180, 390)
				width 100vw
				flex_column(center, flex-start)
				position relative
				> label
					position absolute
					font(600,fsize / 1.6, neue-h, 60)
					dist(0, 0)
					line_letter(6, 0)
					opacity 1
				h3,
				p
					dist(180, 0)
					-webkit-font-smoothing: antialiased;
					nosmoo()
					a
						color: magenta
						text-decoration: none
						font-weight: 600
						font-size: 1.02em
						word-spacing 0.5em
						smoo()
				h3
					position: relative
					font(500,fsize, neue-h, 70)
					line_letter(8, .3)
					// flex_column(flex-start, flex-start)
					reset()
					cubic(800ms)
					opacity 0
					word-spacing 0.07em
				p
					font(400, fsize, neue-h, 30 )
					line_letter(7, 0.4)
					cubic(600ms)
					reset()
					word-spacing 0.16em
					opacity 0
		&#page1
			width: 100vw
			dist(0, 80)
			flex_column(flex-start, center)
			header
				width: 100vw
				cubic(2900ms)
				h2
					font(900, 400, neue-h, 106)
					line_letter(200, -18)
					text-indent: -1.5vmin
					position relative
					display flex
					flex-direction column
					text-align left
					justify-content flex-start
					align-items flex-start
					reset()
					white-space: pre-wrap;
				& .grape
					color: red
					color: #303031
					i
						font-weight: 600
						font-style: normal									
						color darker
			article
				position relative
				flex_column(flex-start, center)
				padding: calculo(1em, 0, 100) 0 calculo(1em, 0, 180) 
				p
					reset()
					font(400, fsize/2, neue-h, 26 )
					nosmoo()
					dist(240, 0)
					line_letter(6, 0.5)
					padding:  0 0 calculo(1em, 0, 20)
					nosmoo()
					word-spacing 0.1em
		&.cases
			// flex_column(flex-start, flex-start)
			// position unset
			transition: all 1s
			wcaixa = 50vw
			subcaixa = calc(100vw - ( calc(1.2em + 6vw)*2 + 50vw))
			wmars = 41vw
			submars = calc(100vw - ( calc(1.2em + 6vw)*2 + 41vw))
			nw = 6vw
			mw = calc(1.2em + 6vw)
			a.callcase
				position: absolute
				opacity:0
				top: -0vh
				left: 0vw
				z-index 99999
				width: 100%
				height: 100%
			&#natura
				height 74vh
				margin 0 mw
			&#caixa
				height 55vh
				margin 0 0 0 mw
				// display inline-grid
				width: wcaixa
				float left
			&#dkids
				height 55vh
				margin 0
				display flex
				width: subcaixa
			&#mars
				height 60vh
				margin 0 0 0 mw
				display inline-grid
				width: wmars
				float left
			&#pop
				height 60vh
				margin 0
				display flex
				width: submars
			header
			article
				position absolute
			header
				flex_column(flex-start, flex-start)
				reset()
				dist(0,0)
				position: absolute
				z-index 2
				h4
					font(700, 14, neue-h, 30)
					text-align: center
					line_letter(16, 2)
					position: relative
					text-align: left
					text-transform: lowercase
				p
					font(300, 6, neue-h, 90)
					text-align: center
					line_letter(5, 0.8)
					position: relative
					text-align: left
					word-spacing 0.04em
					nosmoo()
			article
				width 100%
				reset()
				transition: all 500ms  ease-in -0.3s
				img
					position absolute
			// &.out
			// 	header
			// 		h3
			// 		label
			// 		p
			// 			transition: transform 400ms ease-in-out 0.1s
			&.over
				header
					p
						transition: transform ease-in-out 2.1s !important
						opacity 0.9 !important
						text-decoration underline
					h4
						opacity 1
					label
						transform: scale(0.99) !important
					figure
						transform: translateX(3.2vmin) translateY(-.1vmin) scale(0.8) !important
						transition: transform 300ms ease-in-out 0.15s
						opacity: 0.8 !important
			&#natura
				a = 272
				b = 118
				vm = 7vmin
				c = a + 56
				background-image: radial-gradient(50vw 80vh at 50% 45%, rgba(255,197,24,0.5) 55%, rgba(0,0,0,0.01) 110%);
				header
					position: absolute
					overflow hidden
					dist(110,120)
					h4
						reset()
						small
							font-size: 0.6em
							font-weight: 600
					p
						width calculo(1em, 0,150);
					figure
						dist(70,360)
				article
					height 100%
					> div
						flex_column(center, center)
						position relative
						width: 100%
						height 100%
					img
						height 85%
						box-shadow: 0 0 10vmin -3vmin rgba(188,83,16,0.6)

			&#caixa
				a = 272
				b = 118
				vm = 7vmin
				c = a + 56
				background-image: radial-gradient(60vw 40vh at 20% 55%, rgba(105,197,255,0.2) 25%, rgba(0,0,0,0) 120%)
				header
					position: absolute
					overflow hidden
					dist(35,120)
					h4
						reset()
						small
							font-size: 0.6em
							font-weight: 600
					p
						width calculo(1em, 0,110);
					figure
						dist(70,360)
				article	
					height 100%
					width 100%
					> div 
						flex_column(center, center)
						position relative
					img
						dist(190,0)
						height calculo(1vmin, 250,15)
						position:absolute;
			&#pop
				a = 22vmin
				b = 2
				vm = 2vmin
				c = a + 56
				background-image: radial-gradient(at 90% 10%, rgba(255,255,255,0.2) 5%, rgba(255,255,255,0) 60%);
				header
					position: absolute
					dist(80,100)
					h4
						reset()
						small
							font-size: 0.6em
							font-weight: 600
					p
						width calculo(1em, 0,120);
				article	
					position: absolute
					height 82vh
					img
						dist(255,-110)
						height calculo(1vmin, 460,55)
						position:absolute;
			&#dkids
				background-image: radial-gradient(at 100% 10%, rgba(255,255,255,.25) 5%, rgba(255,255,255,0) 20%);
				a = 272
				b = 2
				vm = 7vmin
				c = vm + 3
				header
					position: absolute
					dist(35,55)
					animate_clip(2s)
					h4
						reset()
						small
							font-size: 0.6em
							font-weight: 600
					p
						width calculo(1em, 0,125)
				article	
					height 90vh
					img
						height calculo(1em, 400,95)
						dist(20,156)
						position:absolute;		
			&#mars
				header
					position: absolute
					// clip: rect(0, 100vw, h, 0)
					// animate_clip(2.4s)
					dist(100,45)
					animate_clip(1s)
					h3
						color darker
					h4
						reset()
						small
							font-size: 0.6em
							font-weight: 600
					p
						width calculo(1em, 0,140);
					figure
						dist(92,400)
				article
					// height 310vh
					position relative
					img
						dist(-85,-790)
						position:absolute;
						height calculo(1em, 400,925)
		&.cases_clicado
			transform scale(5, 5)
			z-index: 99999
			margin: 0
			transition: all 1000ms ease-in 1.2s
				

#footer
	position relative
	width 100vw
	display: flex
	flex-direction: column
	flex_column(center, center)
	background-color: rgb(14,14,16,0.6)
	margin: calculo(1em,0, 60) 0 0
	padding: calculo(1em,0, 60) 0 calculo(1em,0, 80)
	header
	article
		width 31vw
		flex_column(flex-start, flex-start)
	header
		display: flex
		position relative
		height auto
		h3
			font(600,5, neue-h, 0)
			width: 100%
			line_letter(19, .6)
			color: white
			reset()
			position relative
			text-align left
			-webkit-font-smoothing: antialiased;
			smoo()
			
	article
		align-items: flex-start
		justify-content: space-between
		display: flex
		position relative
		margin: calculo(1em,0, 10) 0 0
		p
			position relative
			color: #aaaaab
			font(500,4, neue-h, 0)
			line_letter(8, .3)
			word-spacing: 0.1em
			width: auto
			reset()
			a
				line_letter(8, .1)
				font-weight: 600
				text-decoration: none
				opacity: 1
				reset()
				&:hover
					opacity: 0.8
					
			&.right
				font(600,-2, neue-t, 0)
				dist(0,100)
				line_letter(10, .5)
				position: relative
				text-align: right
				color darker
				align-items: flex-end
				width: auto
				b
					font(600,4, neue-t, 80)
					text-align: right
					width: auto
					color darker














.interna
	height 100vh
	width: 100vw
	flex_column(center, center)
	.logo,
	.barra_topo,
	.back
		height calculo(2vmin, 0, 16) 
	.logo
		min-height: 2em + 1vmin 
		position:fixed
		reset()
		dist(39, 0)
		left 3em + 2vmin
		font(500,4, neue-t, 20)
		smoo()
		line_letter(5,0.2)
		text-decoration: none
		opacity 1
		cursor: pointer
		// z-index 999
		word-spacing: 0.1em
		white-space pre-line
		display flex
		flex_column(center, flex-start)
	.back
		z-index 999999
		position: fixed
		left 1em - .52vmin
		reset()
	& .barra_topo
		min-height: 2em + 1vmin
		width: 100vw
		background-color:#fff
		position: fixed
		display: flex
		dist(0,8)
		opacity: 0
		align-items: center
		justify-content: center
		h4
			dist(-1,0)
			position relative
			font(500,4, neue-t, 0)
			width: 30vw
			word-spacing 0.1em
			white-space pre-line
			line_letter(5, -0.1)
	a
		left 0
		position relative
		padding: 0 calculo(1em,0, 2)
		margin: 0
		width auto
		height calculo(1em,0, 10)
	#Scroll-Pack
		position: absolute;
		z-index: 999;
		height: 100vh;
		top: 0;
		width: 100vw;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		>div
			
			/* position: fixed; */
			top: 0px;
			width: 8em;
			left: 0;
			nav
				transform: translate(0px, 0vh);
				height: auto;
				position: relative;
				display: flex;
				flex-direction: column;
				width: auto;
				left: 0;
				top: 0;
				flex-direction: column;
				justify-content: center;
				.nav-wap
					position: absolute;
					top 0
					.logo
						height auto
						opacity 1
				.callback
					left: 0;calc(85 * ((80vw + 20vh) / 1000));
					position: relative;
					padding: 0 calc(1em + 2 * ((100vw + 100vh) / 2 / 1120));
					margin: 0;
					width: auto;
					.back
						z-index: 9999;
						position: fixed;
						margin: 0;
						padding: 0;
						transition: transform 400ms ease-in-out 0.1s
						&:hover
							transform: translateX(-0.8vmin) translateY(0.01vmin) scale(1.1) !important
							transition: transform 400ms ease-in-out 0.1s
	&.cases
		a = 30
		background-color: #fff
		height auto
		flex_column(center, center)
		width: 100vw
		position relative
		#hero
		&.navigation
			nav
				z-index: 9999
				dist(0,0)
				height 100vh
				flex_column(center, center)
				// cubic(1400ms)
				.nav-wap
					clip: auto
					top: 0
					z-index: 9999
					a
						text-align: left 
						dist(15,60)
						position relative
					&.callback
						resolucao(200,100)
						z-index: 9999
		#hero
			h= 100vh
			height h
			width: 100vw
			dist(0,0)
			reset()
			flex_column(center, center)
			clip: rect(0, 100vw, h, 0)
			// animation: 1.5s 1 alternate rect;
			position: absolute
			z-index 9
			header
				margin: 0
				padding: 0
				height: 100vh;
				flex_column(center, center)
				width: 100vw
			.titulo
				z-index 9999
				position fixed
				opacity 0
				height: auto;
				min-height: 4em;
				h3
					font(700, 200, neue-h, 100)
					dist(400,0)
					width: auto
					line_letter(40, 28)
					reset()
					top auto
					left auto
					text-transform: lowercase
					text-indent: 6vmin
					sub
						font-size: 0.4em
						position relative
						bottom: 0.6em
			img
				position: fixed
				opacity 0
				// animate_clip(2.4s)
				width: auto

		.destaque
			position relative
			width: 100vw
			padding: calculo(1em, 0,70) 0 calculo(1em,0, 40)
			margin: 100vh 0 calculo(1em,0, 70)
			flex_column(center, center)
			header
			article
				position relative
				dist(0,0)
			header
				flex-direction: row
				display flex
				.side-content
					width: 40%
					display flex
					flex-direction: column
					font(500,5, neue-t, 40)
					label
						&.ano
							font-size: 1em
							line_letter(20, 1)
							margin-top -1.5%
							font-weight: 400
							opacity 1
						-webkit-font-smoothing: antialiased;
						font(500,1, neue-h, 100)
						line_letter(1, 0.1)
						word-spacing: 0.35em
						// nosmoo()
						&.tags
							opacity 1
						&.url
							text-transform: lowercase
							&::before
								content: '⏤'
								font-size: .8em
								width:  100%
								height 100%
								display: block
								line_letter(10, 0.1)


				.main-content
					width: 60%
					display flex
					flex-direction: column
					position relative
					dist(-215, 0)
					width calculo(22vmin,100, 5)
					h4,
					h5,
					h6
						dist(0, 0)
						-webkit-font-smoothing: antialiased;
						cubic(600ms)
						reset()
					h4
						font(500,15, neue-t, 40)
						word-spacing 0.1em
						white-space pre-line
						line_letter(12, -0.1)
					h5
						color: grey
						font(500,15, neue-h, 40)
						padding: 0 0 calculo(0.1vmin,30, 0)
						line_letter(10, -0.1)
					h6
						color: darker
						font(500,2.8, neue-t, 40)
						padding: calculo(0.1vmin,45, 0) 0 calculo(0.1vmin,0, 0)
						line_letter(10, 0.2)
					p
						font(500, 2.1, neue-h, 0)
						// nosmoo()
						width: auto
						line_letter(2.5, 0.2)
						word-spacing: 0.1em
						white-space: pre-line
						color graffiti
						i
							font-weight 500
							// nosmoo()
							color #darker
							font-style: normal
					
		.navigation 
			position absolute
			clip rect(100vh, 100vw, auto, 0)
			height 100%
		&#natura
			#hero
				background-attachment fixed
				// background-image: radial-gradient(at 20% 20%, rgba(7,59,163,0.00) 70%, rgba(31,111,179,0.00) 58%, #1A76C0 99%);
				// background-image: radial-gradient(at -80% -90%,red,yellow,green);
			section
				header
					img
						position: fixed
						left auto
						dist(325,60)
						width: calculo(1em,400, 2*a)
						height auto
						box-shadow: 1px 0px 5vmin -12px rgba(0,0,0,0.3)
				article
					.natura_001
						width: calculo(1em,400, 20*a)
						dist(0,-120)
						margin-bottom: calculo(1em,400, -21*a)
					.natura_002
						width: calculo(1em,200, 8*a)
					.natura_003
						width: calculo(1em,200, 14*a)
					.natura_003_2
						width: calculo(1em,200, 14*a)
					.natura_004
						width: calculo(1em,200, 14*a)
					.natura_005
						width: calculo(1em,200, 20*a)
					.natura_006
						width: calculo(1em,200, 14*a)
		&#pop
			#hero
				background-attachment fixed
				// background-image: radial-gradient(at 40% 20%, rgba(109,99,255,1) 20%, #6613F1 80%);
			section
				header
					img
						position: fixed
						left auto
						height auto
						dist(250,-210)
						width calculo(1em,400, 17*a)
				article
					.pop_001
						width: calculo(1em,400, 15*a)
						dist(175,48)
					.pop_002
						width: calculo(1em,350, 14*a)
						dist(-165,0)
						
					.pop_003
						width: calculo(1em,320, 15*a)
						dist(146,-40)
						box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.1)
					.pop_full
						width: calculo(1em,180, 10*a)
						box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.1)
		&#mars
			#hero
				background-attachment fixed
				background-image: radial-gradient(at 20% 0%, rgba(7,59,163,0.00) 70%, rgba(232,177,0,0.00) 8%, #E8B100 109%);
				// background-image: radial-gradient(at -80% -90%,red,yellow,green);
			section
				header
					img
						position: fixed
						// left auto
						dist(0,-50)
						height 110vh
						width: auto
				article
					.mms_001
						width: calculo(1em,400, 15*a)
						dist(175,48)
					.mms_002
						width: calculo(1em,400, 12*a)
						dist(0,48)
						box-shadow: 1px 0px 8vmin -12px rgba(0,0,0,0.1)
					.mms_003
						width: calculo(1em,400, 12*a)
						dist(0,-40)
						box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.4)
					.mms_004
						width: calculo(1em,180, 10*a)
						box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.2)
		&#caixa
			#hero
				background-attachment fixed
				background-image: radial-gradient(at 20% 20%, rgba(7,59,163,0.00) 70%, rgba(31,111,179,0.00) 58%, #1A76C0 99%);
				// background-image: radial-gradient(at -80% -90%,red,yellow,green);
			section
				header
					img
						position: fixed
						left auto
						dist(90,-80)
						width: calculo(1em,400, 40*a)
						height auto
				article
					.caixa_001
						width: calculo(1em,400, 12*a)
						dist(0,10)
					.caixa_003
						width: calculo(1em,180, 10*a)
					.caixa_005
						width: calculo(1em,180, 10*a)
					.caixa_006
						width: calculo(1em,180, 11*a)
					.caixa_016
						width: calculo(1em,180, 7*a)
					.caixa_full
						width: calculo(1em,180, 18*a)
					.caixa_parts_mob
						width: calculo(1em,180,18*a)
						box-shadow: 1px 0px 5vmin -12px rgba(0,0,0,0.1)
		&#dkids
			a = 30
			#hero
				background-attachment fixed
				// background-image: radial-gradient(at -80% -90%,red,yellow,green);
			section
				header
					img
						position: fixed
						dist(290,-270)
						width: calculo(1em,400, 19*a)
						height auto
						// background-size: contain
				article
					.dkids_001
						dist(-20,-60)
						width: calculo(1em,400, 17*a)
						margin-bottom: calculo(1em,400, -17.5*a)
					.dkids_003
						width: calculo(1em,400, 8*a)
					.dkids_004
						width: calculo(1em,400, 12*a)
						margin: calculo(1em,0, 10) 0
					.dkids_005
						width: calculo(1em,400, 17*a)
						box-shadow: 1px 0px 5vmin -12px rgba(0,0,0,0.2)
						margin: calculo(1em,0, 20) 0
					.dkids_full
						width: calculo(1em,180, 14*a)
					
	section
		a = 30
		&.content,
		&.image
			margin: 0
			position relative
			z-index: 3
			height auto
			display: flex
			w =  64vmin
			.bxx_margin
				margin: calculo(1em,0, 80) 0 calculo(1.2vmin, 0,2)
			.bx_margin
				margin: calculo(5vmin,0, 40) 0 calculo(1.2vmin, 0,2)
			.b_margin
				margin: calculo(1em,0, 40) 0 calculo(1em, 0,5)
			.mx_margin
				margin: calculo(2vmin,0, 15) 0 calculo(1.2vmin, 0,2)
			.m_margin
				margin: calculo(1vmin,0, 15) 0 calculo(1.2vmin, 0,2)
			.s_margin
				margin: calculo(1em,0, 5) 0 calculo(1.2vmin, 0,2)
			.sx_margin
				margin: calculo(1vmin,0, 0) 0 0
		&.image
			overflow hidden
			flex_column(center, center)	
			p
				font(200, 3, neue-t, 68)
				flex_column(center,center)
				text-align: left
		&.content
			flex_column(flex-start, flex-start)
			& header,
			& article
				display: flex
				flex-direction: column
				flex_column(flex-start, flex-start)
				reset()
				width calculo(22vmin,100, 5)
			
			h5,
			h6,
			p,
			blockquote
				reset()
				position relative
				width 100%
				dist(-34,0)
			h5
				font(600,16, neue-h,0)
				word-spacing 0.1em
				width: auto
				color:darker
				line_letter(6, -0.1)
				smoo()
			h6
				font(500, 2.5, neue-t, 0)
				line_letter(2, 0.1)
				word-spacing 0.1em
				color:darker
				width: auto
				span
					font-size: .94em
					font-weight: 400
					color gray
					opacity 0.8
					reset()
					display: block
			article
				position relative
				z-index 999
				p
					font(500, 2, neue-h, 0)
					// nosmoo()
					line_letter(3, 0.1)
					word-spacing 0.05em
					color graffiti
					width auto
					i
						font-weight 500
						// nosmoo()
						color #darker
						font-style: normal
				blockquote
					font(300, 4, neue-h, 22.3)
					height: auto
					position relative
					line_letter(4, .5)
					word-spacing 0.1em
					color graffiti
					reset()
					&::before
						content: " "
						border-left: calculo(0.01em, 0,1.2) solid graffiti
						display: flex
						height 100%
						width: 2em
						position: absolute
						dist(-12,0)
		
		&.margin
			margin calculo(1em, 0, 5) 
			width 95%
		&.half
			width 45%
			display: inline-flex
		&.nopadding
			padding: 0
		&.padding
			padding: calculo(1em, 0, 20) 0
		&.image
			text-align: center
			img
				height auto
				position:relative
				&.sketchs
					width calculo(1em, 460, 16*a)
				&.img_g
					width: calculo(1em,410, 15*a)
				&.bottom_right
					width: calculo(1em,400, 15*a)
					top: 4vmin
					left 16vmin
					margin: calculo(4vmin,10, 2*a) 0
				&.bottom_left
					width: calculo(1em,500, 15*a)
					top: 14vmin
					left -20vmin
				&.bottom_center
					width: calculo(1em,450, 15*a)
					top: 16vmin
				





























// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 			MOBILE > VERTICAL 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
@import 'mobile.styl'
