w = 100vw
h = 100vh
calculo(em a, b)
	w = 80vw
	h = 20vh
	"calc(%s + (%s + %s) * (%s + %s) / 1000)" % (em a b w h)


dist(left, top)
	left 'calc(%s * ((80vw + 20vh)  / 1000))' % (left w h)
	top 'calc(%s * ((34vw + 66vh) / 1000))' % (top w h)
dist_invert(right, bottom)
	right 'calc(%s * ((80vw + 20vh)  / 1000))' % (right w h)
	bottom 'calc(%s * ((34vw + 66vh) / 1000))' % (bottom w h)

resolucao(width, height)
	width 'calc(1em + %s * ((%s + %s) / 1000))' % (width w h)
	height 'calc(1em + %s * ((%s + %s) / 1000))' % (height w h)

min(n)
	min-width n
	min-height n
max(n)
	max-width n
	max-height n

font(weight, size, family, wid)
	font-weight weight
	font-size 'calc(1em + %s * ((76vw + 24vh) / 1000))' % (size)
	font-family family
	width 'calc(%s * ((86vw + 14vh) / 100))' % (wid)

line_letter(lines, letter)
	line-height 'calc(1em + %s * ((76vw + 24vh) / 1000))' % (lines)
	letter-spacing 'calc(.01em + %s * ((76vw + 24vh) / 1000))' % (letter)

flex_column(justify, align)
	display flex
	flex-direction: column
	justify-content: justify
	align-items: align

cubic(num)
	transition: all num cubic-bezier(0,.49,.85,.91) -0.2s
smoo()
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
nosmoo()
	-webkit-font-smoothing auto
	-moz-osx-font-smoothing grayscale
reset()
	margin 0
	padding 0

neue-h = neue-haas-grotesk-display, sans-serif
neue-k = neue-kabel, sans-serif
neue-t = neue-haas-grotesk-text, sans-serif
roboto = 'roboto', sans-serif
w-sans = 'work-sans', sans-serif
material = Material Icons


darker = #000006
magenta = #FF2B6A
red = #FF053E




@keyframes rect
	from
		clip: rect(0, 100vw, 0, 0)
	to
		clip: rect(0, 100vw, 100%, 0)


animate_clip(time)
	animation: time 0s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1 alternate rect






html
body
	reset()
	width w
	position: relative	
	overflow-x hidden
body
	font-size: 16px
	height 100%
	smoo()
	.logo
		i = 4.2em
		position:fixed
		min(i)
		max(i*1.8)
		reset()
		dist(12, 22)
		font(700,5.5, neue-k, 8)
		text-transform: uppercase
		line_letter(-2.8,-0.8)
		text-decoration: none
		opacity 1
		// z-index 999
		white-space pre-line
		flex_column(flex-start, flex-start)
		span
			white-space pre-line
			font-weight:300
			opacity 0.8
			line_letter(-2.6,-0.8)
			left 0
			margin-top 0.05em
			// nosmoo()
.magenta
	color magenta
.white
	color white
.darker
	color darker
.container
	.main
		width: 100%;
		align-items: center;
		display: flex;
		flex-direction: column;
		position relative
		height 100%
		overflow hidden
         
section
	width 100%
	overflow hidden
	display: flex;
	flex-direction: column;
	position relative
	header
		reset()
	p
		font(500, 21, neue-h, 60)
		line_letter(15,-0.5)
		position relative
		margin: 0 0 calculo(1em, 0, 30)
		smoo()
		span
			display: block
			b
				font(300, 0, neue-h, 60)
			a
				color: magenta
				font(500, 1, neue-h, 60)
				text-decoration none
				position: relative
				cursor: pointer
				z-index 9999
				line_letter(13,1)
				height 100%
				&:hover
					transition-duration 1s
					opacity 0.6
					position relative
	&#intro
		height 110vh
		background-color: white
		header
			dist(40, 250)
			flex_column(center, flex-start)
			position relative
			width: 100vw
			transform: translateY(0)
			label
				color darker
				position absolute
				font(700,6, neue-h, 60)
				dist(0, 60)
				line_letter(100, 0)
				opacity 1
			h3
				color white
				position: relative	
				font(500,46, neue-t, 70)
				flex_column(flex-start, flex-start)
				dist(300, 100)
				height 80vh
				reset()
				cubic(800ms)
				opacity 1
				span
					line_letter(3.2, -4)
					padding: 0;
					scroll-behavior: smooth
					white-space: pre-wrap;
					&.white
						color: white
					&.red
						color: red

	&#page1
	&#page2
		background-color white
		article
			p
				dist(380, 10)
				cubic(600ms)
				color: darker
				i
					font-weight: 500
					margin: 0 1.2vmin 0 0.8vmin
	&#page1
		header
			h2
				cubic(500ms)
				font(900, 330, neue-h, 106)
				line_letter(-30, -18)
				position relative
				display flex
				flex-direction column
				text-align left
				justify-content flex-start
				align-items flex-start
				margin calculo(0.1em,0, 0) 0 calculo(1em,0, 0)
				padding 0
				dist(-10, 140)
				white-space: pre-wrap;
				-webkit-font-smoothing: antialiased;
	&#page2
		position relative
		z-index: 9999
		padding calculo(5vmin,10, 10) 0 calculo(15vmin,10, 10)
		h2
		& h3
			// cubic(6500ms)
			font(900, 156, neue-h, 100)
			line_letter(-30, -4)
			position relative
			display flex
			flex-direction column
			text-align left
			justify-content flex-start
			align-items flex-start
			margin 0
			padding 0
			dist(10, 140)
			white-space: pre-wrap;
			-webkit-font-smoothing: antialiased;
			color: white
		h3
			margin calculo(0.1em,0, 160) 0 calculo(0.1em,0, 200)
		article
			p
				dist(370, 100)
				color: #fff
				font-weight: 400
				// width: 70vw
				text-align: left
				b
					display block
					font(800, 4, neue-k, 120)
					width: 100%
					text-transform: uppercase
					text-align: center
					line_letter(60, 1)
					margin calculo(0.1em,0, 20) 0
					word-spacing 0.4em
					white-space: pre-line;
		.section_bg
			width: 100vw
			height 115%
			background-color: #E91432
			position absolute
			bottom -25%
			z-index -1
	&.cases
		flex_column(flex-start, flex-start)
		header
		article
			position absolute
		header
			height: 100%;
			width: calc(160 * ((86vw + 14vh) / 100))
			flex_column(flex-start, flex-start)
			reset()
			dist(0,0)
			position: absolute
			z-index 2
			label
				// font(700,630, neue-k, 60)
				// font(700,6, neue-h, 60)
				font-size 90vmin
				font-family: neue-k
				font-weight: 700
				width: 108vmin
				top -6vmin
				left -6vmin
				color: #111116
				// z-index: 2
				reset()
				line-height: 0.6em
				text-align: center
				position fixed
				text-transform: uppercase
			h3
				font(600, 15, neue-k, 60)
				font-size: calculo(.5em,0, 2.5)
				text-align: center
				width: 108vmin
				top 17vmin
				left -5vmin
				line_letter(1, 8)
				position: fixed
				color darker
				text-transform: uppercase
				color: #777778
			h4
				font(700, 100, neue-k, 30)
				text-align: center
				line_letter(116, -6)
				position: fixed
				color darker
				text-align: left
				text-transform: lowercase
			p
				font(400, 0.5, neue-k, 90)
				font-size: calculo(1em,0,3.2)
				text-align: center
				line_letter(7, -0.4)
				position: fixed
				color darker
				text-align: left
				opacity:0.6
				white-space: pre-wrap
			figure
				position: fixed
				transition: transform 400ms ease-in-out 0.1s
				reset()
				.jss1
					i = 3em
					min(i)
					max(i*10.8)
					margin: 0
					resolucao(36, 10)
			a.callcase
				position: fixed
				opacity:0
				z-index 99999
		article
			width 100vw
			reset()
			transition: all 500ms  ease-in -0.3s
			img
				position absolute
		// &.out
		// 	header
		// 		h3
		// 		label
		// 		p
		// 			transition: transform 400ms ease-in-out 0.1s
		&.over
			header
				h3
				label
				p
					transition: transform 400ms ease-in-out 0.1s
					opacity 0.6
					transition-duration: 300ms, 1300ms
				&h4
					opacity 1
				label
					transform: scale(0.99) !important
				figure
					transform: translateX(0.6vmin) translateY(0.01vmin) scale(1.1) !important
					transition: transform 400ms ease-in-out 0.1s
		&#pop
			g = 210vh
			height g
			a = 25vmin
			b = 2
			vm = 7vmin
			c = a + 56
			// nav
			// 	.nav-wap
			// 		clip: rect(0,15em, g,0)
			header
				position: absolute
				clip: rect(0, 100vw, g, 0)
				h3
					color darker
					left 2vmin
				h4
					left calculo(a,30,0)
					bottom: calculo(vm, b, 70)
					reset()
					small
						font-size: 0.6em
						font-weight: 600
				p
					left calculo(a,140,0)
					bottom: calculo(vm,b, 10)
					width calculo(1em, 0,340);
				figure
					left calculo(a,140,0)
					bottom: calculo(vm,b, 0)
				.callcase
					resolucao(200, 110)
					left calculo(a,-10,0)
					bottom: calculo(vm,b, 0)
			article	
				position: absolute
				height 232vh
				img
					dist(625,-10)
					position:absolute;
					height 122vh
				
		&#mars
			h = 320vh
			height h
			a = 26vmin
			b = 2
			vm = 7vmin
			c = a + 56
			// nav
			// 	.nav-wap
			// 		clip: rect(0,15em, h,0)
			header
				position: absolute
				clip: rect(0, 100vw, h, 0)
				// animate_clip(2.4s)
				animate_clip(2s)
				h3
					color darker
				h4
					left calculo(a,0,0)
					bottom: calculo(vm, b, 60)
					reset()
					small
						font-size: 0.6em
						font-weight: 600
				p
					left calculo(a,118,0)
					bottom: calculo(vm,b, 10)
					width calculo(1em, 0,340);
				figure
					left calculo(a,118,0)
					bottom: calculo(vm,b, 0)
				.callcase
					resolucao(200, 110)
					left calculo(a,-40,0)
					bottom: calculo(vm,b, 0)
			article
				// height 310vh
				img
					dist(385,-10)
					position:absolute;
					height 232vh
		&#caixa
			i = 218vh
			height i
			a = 272
			b = 2
			vm = 7vmin
			c = a + 56
			header
				position: absolute
				overflow hidden
				clip: rect(0, 100vw, i, 0)
				animate_clip(2s)
				// animate_clip(2.4s)
				h3
					color darker
					left 1.2vmin
				h4
					left calculo(2*vm,0,0)
					bottom: calculo(vm, b,60)
					reset()
					small
						font-size: 0.6em
						font-weight: 600
				p
					left calculo(5.6*vm,0,0)
					bottom: calculo(vm,b, 10)
					width calculo(1em, 0,340);
				figure
					left calculo(5.6*vm,0,0)
					bottom: calculo(vm,b, 0)
				.callcase
					resolucao(220, 110)
					left calculo(vm,40,0)
					bottom: calculo(vm,b, 0)
			article	
				height 120vh
				img
					// animation: 1s 1 alternate rect;
					left 50vw
					height 130vh
					top 20.8vh
					position:absolute;
		&#dkids
			i = 138vh
			height i
			a = 272
			b = 2
			vm = 7vmin
			c = vm + 3
			header
				position: absolute
				overflow hidden
				clip: rect(0, 100vw, i, 0)
				animate_clip(2s)
				// animate_clip(2.4s)
				h3
					color darker
					left -4.2vmin
					top 20.2vmin
				h4
					left calculo(3.2*vm,0,0)
					bottom: calculo(vm, b,60)
					reset()
					small
						font-size: 0.6em
						font-weight: 600
				p
					left calculo(c,0,0)
					bottom: calculo(vm,b, 10)
					width calculo(1em, 0,340);
				figure
					left calculo(c,0,0)
					bottom: calculo(vm,b, 0)
				.callcase
					resolucao(220, 120)
					left calculo(vm,20,0)
					bottom: calculo(vm,b, 0)
			article	
				height 120vh
				img
					// animation: 1s 1 alternate rect;
					left 50vw
					height 130vh
					top 20.8vh
					position:absolute;

	&#footer
		position relative
		width 100vw
		height 130vh
		display: flex
		position relative
		flex-direction: column
		align-items: center
		justify-content: flex-start
		background-color: darker
		header
		article
			width 80vw
			left 0
		header
			display: flex
			position relative
			align-items: flex-start
			justify-content: flex-start
			flex-direction: column
			padding: 0
			height auto
			padding-top: calculo(1em,0, 210);
			border-bottom: 1px solid #30303A
			h3
				font(700,114, neue-h, 62)
				line_letter(9, -3.1)
				color: #fff
				margin: 0
				position relative
				text-align left
				-webkit-font-smoothing: antialiased;
				height auto
				cubic(1400ms)
				nosmoo()
			h5
				font(400,9, neue-h, 16)
				line_letter(8, 1.5)
				dist(8,0)
				color white
				position relative
				margin: calculo(1em,0, 60) 0 calculo(1em,0, 30)
				cubic(400ms)
				&::after
					content: '▽'
					font-weight: 100
					opacity 0.8
					font-size: 1em
					top 5vmin
					position relative
					margin: 0
					width: 80%
					display: block
					// text-align: center
				
		article
			align-items: flex-start
			justify-content: space-between
			display: flex
			position relative
			top 0
			// margin: 10vh 0 20vh
			p
				position relative
				dist(5,40)
				font(300,22, neue-h, 10)
				width: 60vw
				line_letter(8, .5)
				color: white
				a
					line_letter(15, 1)
					font-weight: 400
					text-decoration: none
					&:hover
						color: magenta
						transition-duration: 0.5s
						
				&.right
					font(300,-2, neue-t, 50)
					dist(0,100)
					line_letter(10, 1)
					position: relative
					text-align: right
					color white
					align-items: flex-end
					b
						font(400,4, neue-t, 80)
						text-align: right
						width: auto
						color white


.interna
	height auto
	width: 100vw
	flex_column(center, center)
	.back
		z-index 9999
		dist(12,0)
		top auto
		position: fixed
		width calculo(1em, 0,60)
		height auto
		reset()
	a
		left 0
		position relative
		padding: 0 calculo(1em,0, 2)
		margin: 0
		width auto
		height calculo(1em,0, 10)
	#Scroll-Pack
		position: absolute;
		z-index: 999;
		height: 100vh;
		top: 0;
		width: 100vw;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		>div
			height: 100vh;
			/* position: fixed; */
			top: 0px;
			width: 8em;
			left: 0;
			nav
				transform: translate(0px, 0vh);
				height: 100vh;
				position: relative;
				display: flex;
				flex-direction: column;
				width: auto;
				left: 0;
				top: 0;
				flex-direction: column;
				justify-content: center;
				.nav-wap
					position: absolute;
					top 0
					.logo
						height auto
						opacity 1
				.callback
					left: 0;
					position: relative;
					padding: 0 calc(1em + 2 * ((100vw + 100vh) / 2 / 1120));
					margin: 0;
					width: auto;
					height: calc(1em + 10 * ((100vw + 100vh) / 2 / 1120));
					.back
						z-index: 9999;
						left: calc(42 * ((80vw + 20vh) / 1000));
						top: calc(0 * ((34vw + 66vh) / 1000));
						top: auto;
						position: fixed;
						width: calc(62 * ((80vw + 20vh) / 1000));
						height: auto;
						margin: 0;
						padding: 0;
						transition: transform 400ms ease-in-out 0.1s
						&:hover
							transform: translateX(-0.8vmin) translateY(0.01vmin) scale(1.1) !important
							transition: transform 400ms ease-in-out 0.1s
	&.cases
		background-color: #fff
		height auto
		flex_column(center, center)
		width: 100vw
		position relative
		#hero
		&.navigation
			nav
				z-index: 9999
				dist(10,0)
				height 100vh
				flex_column(center, center)
				// cubic(1400ms)
				.nav-wap
					clip: auto
					top: 0
					a
						text-align: left 
						dist(15,60)
						position relative
					&.callback
						resolucao(200,100)
		#hero
			h= 100vh
			height h
			width: 100vw
			dist(0,0)
			reset()
			flex_column(center, center)
			clip: rect(0, 100vw, h, 0)
			// animation: 1.5s 1 alternate rect;
			position: absolute
			z-index 9
			header
				margin: 0
				padding: 0
				height: 100vh;
				flex_column(center, center)
				width: 100vw
			.titulo
				z-index 9999
				position fixed
				opacity 0
				h3
					font(600, 56, neue-h, 100)
					width: auto
					line_letter(1, 5)
					reset()
					top auto
					left auto
					text-transform: lowercase
					sub
						font-size: 0.4em
						position relative
						bottom: 0.6em
			img
				position: fixed
				opacity 0
				// animate_clip(2.4s)
				width: auto

		.destaque
			position relative
			width: 100vw
			padding: calculo(1em, 0,70) 0 calculo(1em,0, 40)
			margin: 100vh 0 calculo(1em,0, 70)
			z-index 9999
			header
				flex_column(center, center)
				width: 100%
				*
					position: relative
					dist(0,0)
					text-align center
				label
					font(300, 9, neue-k, 54)
					line_letter(5, 0.1)
					word-spacing: 0.35em
					text-transform: uppercase
					white-space pre-wrap
					// nosmoo()
					span
						font-size: .5em
						line_letter(10, 1.6)
						font-weight: 500
						display: flex
						text-align center
						align-items: center
						justify-content: center
						&.ano
							font-size: .38em
							font-weight: 700
							line_letter(10, 12)
							padding: 0 0 calculo(1em,0, 15)
							text-align center
							text-indent: calculo(0.1em,0, 10)
							opacity 1
					&.url
						font-size: 0.98em
						text-transform: lowercase
						line_letter(32, -.1)
						font-weight: 700
						&::after
							content: '⏤'
							font-size: .8em
							width:  100%
							height 100%
							display: block
							padding: 0 0 calculo(1vmin,0, 0)


				h4
					font(600,28, neue-k, 100)
					reset()
					line_letter(6, -2.5)
					word-spacing: 0.15em
					padding: calculo(1em,0, 10) 0 calculo(1em,0,10)
					white-space pre-line
			article
				flex_column(center, center)
				p
					font(500, 0.5, neue-k, 40)
					font-size: calculo(1em,0,2)
					line_letter(10, -0.2)
					text-align: center
					word-spacing: 0.18em
					white-space: pre-line
					
		.navigation 
			position absolute
			clip rect(100vh, 100vw, auto, 0)
			height 100%
		&#pop
			#hero
				background-attachment fixed
				background-image: radial-gradient(at 40% 20%, rgba(109,99,255,1) 20%, #6613F1 80%);
				header
					img
						position: fixed
						left auto
						height calculo(48vmin,10, 600)
						right calculo(-25vmin,5,60)
						bottom: calculo(-22vmax,1, 1)
						width: auto
		&#mars
			#hero
				background-attachment fixed
				background-image: radial-gradient(at 20% 0%, rgba(7,59,163,0.00) 70%, rgba(232,177,0,0.00) 8%, #E8B100 109%);
				// background-image: radial-gradient(at -80% -90%,red,yellow,green);
				header
					img
						left auto
						// right: calculo(5em, 90)
						// bottom: calculo(-1em,0, 9)
						height 106vh
						width: auto
						// background-size: contain
		&#caixa
			#hero
				background-attachment fixed
				background-image: radial-gradient(at 20% 20%, rgba(7,59,163,0.00) 70%, rgba(31,111,179,0.00) 58%, #1A76C0 99%);
				// background-image: radial-gradient(at -80% -90%,red,yellow,green);
				header
					img
						position: fixed
						left auto
						height calculo(44vmin,10, 500)
						right calculo(12vmin,25,40)
						bottom: calculo(-32vmin,1, 1)
						width: auto
						// background-size: contain
		&#dkids
			#hero
				background-attachment fixed
				// background-image: radial-gradient(at 20% 20%, rgba(7,59,163,0.00) 70%, rgba(31,111,179,0.00) 58%, #1A76C0 99%);
				// background-image: radial-gradient(at -80% -90%,red,yellow,green);
				header
					img
						position: fixed
						left auto
						height auto
						bottom: -6%
						width: 105vw
						// background-size: contain
					
	.content
		position relative
		z-index: 3
		height auto
		flex_column(center, center)
		padding: calculo(1em,0, 20) 0 calculo(1em, 0,10)
		a = 30
		w =  64vmin
		header
		article
			flex_column(center, center)
			reset()
			h5
			h6
			p
				reset()
		header
			*
				position: relative
				dist(0,0)
			h5
				font(400,42, neue-h, 100)
				color:#111116
				line_letter(48, -0.1)
				word-spacing 0.1em
				width w
				nosmoo()
			h6
				font(500,10, neue-t, 100)
				line_letter(44, -0.3)
				word-spacing 0.1em
				width w
				// nosmoo()
				small
					font(500,10, neue-h, 100)
					font-size: .7em
					font-weight: 900
					line_letter(24, 1)
					margin: calculo(1em,0, 100) 0 calculo(0.1em,0, 0)
					display: block
		article
			*
				position: relative
				dist(0,0)
			dist(0,0)
			position relative
			z-index 999
			p
				font(500, 2.8, neue-h,100)
				line_letter(10.5, .1)
				word-spacing 0.15em
				color #444445
				reset()
				width w
				margin 0 0 calculo(0.01em,0, 5)
				// nosmoo()
				i
					font-weight 400
					nosmoo()
					color #666667

			img
				width: calculo(1em, 200, 15*a)
				margin calculo(1em,0, 20) 0
				height auto
				&.sketchs
					width: calculo(1em, 460, 16*a)
				&.img_g
					width: calculo(1em,410, 15*a)
				&.img_part
					height auto
					position:relative
					&.bottom_right
						width: calculo(1em,400, 15*a)
						top: 4vmin
						left 16vmin
						margin: calculo(4vmin,10, 2*a) 0
					&.bottom_left
						width: calculo(1em,500, 15*a)
						top: 14vmin
						left -20vmin
					&.bottom_center
						width: calculo(1em,450, 15*a)
						top: 16vmin
					&.pop_001
						width: calculo(1em,400, 20*a)
						left 29vmin
						margin: calculo(4vmin,10, 2*a) 0 calculo(1vmin,0, 1.2*a)
					&.pop_002
						width: calculo(1em,350, 17*a)
						left -20vmin
						box-shadow: 1px 0px 8vmin -12px rgba(0,0,0,0.1)
						// top: 10vmin
						margin: calculo(4vmin,0, -2*a) 0 calculo(2vmin,0, -1.4*a)
					&.pop_003
						width: calculo(1em,320, 18*a)
						top -5vmin
						margin: 0 0 calculo(4vmin,10, 1*a)
						// border: 0.1em solid #791DC4
						border-radius: .2em
						box-shadow: 1px 0px 40vmin -12px rgba(0,0,0,0.2)
					&.mms_001
						width: calculo(1em,400, 20*a)
						left 29vmin
						margin: calculo(4vmin,10, 2*a) 0 calculo(1vmin,0, 1.2*a)
					&.mms_002
						width: calculo(1em,400, 17*a)
						left -38vmin
						box-shadow: 1px 0px 8vmin -12px rgba(0,0,0,0.1)
						// top: 10vmin
						margin: calculo(4vmin,0, -2*a) 0 calculo(2vmin,0, -1.4*a)
					&.mms_003
						width: calculo(1em,500, 18*a)
						left 46vmin
						margin: calculo(4vmin,10, 1*a) 0
						box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.4)
					&.mms_004
						// box-shadow: 1px 0px 18vmin -12px rgba(0,0,0,0.3)
						margin: calculo(4vmin,0, 1.2*a) 0
						width: calculo(4vmin,340, 12*a)
					&.dkids_001
						width: calculo(1em,450, 22*a)
						left 49vmin
						margin: calculo(1vmin,10, -2*a) 0 calculo(1vmin,0, -0.2*a)
					&.caixa_001
						width: calculo(1em,400, 20*a)
						left 29vmin
						margin: calculo(4vmin,10, 2*a) 0 calculo(1vmin,0, -.2*a)
					&.caixa_006
						width: calculo(1em,280, 17*a)
						// left 29vmin
						margin: calculo(4vmin,10, 2*a) 0 calculo(1vmin,0, 1.8*a)
					&.caixa_full
						width: calculo(1em,180, 12*a)
						// left 29vmin
						// box-shadow: 1px 0px 5vmin -12px rgba(0,0,0,0.2)
						margin: calculo(4vmin,10, a) 0 calculo(1vmin,0, 1.8*a)
			blockquote
				font(400, 4.5, neue-h, a + 10)
				width calculo(1em, a, 310)
				line_letter(4, 1.1)
				word-spacing 0.15em
				color #000
				reset()
				margin calculo(0.01em, 0,8) 0 0
				dist(10,0)
				nosmoo()
				&::before
					content: " "
					font(300, 15, w-sans, a + 4)
					border-left: calculo(0.01em, 0,1.7) solid #000
					display: flex
					height 100%
					position: absolute
					dist(-22,0)
		















@media screen and (orientation: portrait)
	section
		&#intro
			height 95vh
			flex_column(center, center)
			width: 100vw
			header
				width: 100vw
				flex_column(center, center)
				left 0
				label
					width: 100vw
					text-align: center
					font-size: 2em
					top 0
					left 0
				h3
					font(300, 52, neue-h, 86)
					width: 100vw
					dist(0, -40)
					text-align: center
					white-space wrap-line
					flex_column(center, center)
					span
						line_letter(18, 4)
						position relative
						left 15vw
						text-align: center
						white-space wrap-line
						
		&#page1
		&#page2
			article
				width: 100vw
				flex_column(center, center)
				left 0
				p
					position relative
					font(500, 1, neue-h, 60)
					line_letter(20, 3.2)
					flex_column(center, center)
		&#page1
			header
				h2
					font(900, 230, neue-h, 85)
					line_letter(-20, -9)
					dist(30, 80)
			article
				p
					dist(0, 140)
					width: 70vw
					text-align: center
		&#page2
			header
				h2
					font(900, 175, neue-h, 85)
					dist(-30, 110)
			article
				height auto
				*
					text-align: center
				p
					left 0
					flex_column(center, center)
					line_letter(18, 4)
					align-items: center
					width: 100vw
					height auto
					border: 0px
					span
						padding: calc(1em + 25 * ((100vmin)/100)) 0
						font(500, 2.8, neue-h, 70)
						left 0
						flex_column(center, center)
		&.cases
			header
				.logo
					position: fixed
					i = 3.2em
					resolucao(20,20)
					min(i)
					max(i*1.8)
					dist(5, 10)
					font(600, 4, neue-h, 86)
					span
						opacity 0.8
			&#pop
			&#mars
			&#caixa
			&#dkids
				flex_column(center,center)
				width: 100vw
				header
					label
						font-size: 76vmin
						top: 10vmin
					*
						z-index 1
						text-align: center
					.logo
					& span
						text-align: left
					h3
						font-size: 0.7em
					h4
						font-size: 22vmin
						width: 100vw
						left 0
						font-weight: 700
					p
						// width calculo(1em, 0,340);
						left 0
						line_letter(12, 2)
						font-weight: 500
						width: 100vw
					.callcase
						resolucao(360, 350)
						left 0
						bottom: calculo(17vmin,2, -50)
					figure
						left 40vmin
						.jss1
							width: 5em
				article
					z-index 0
					transform: translate(0,0) !important
					img
						top 0vh
			&#pop
				h = 150vh
				height h
				a = 272
				b = 2
				vm = 17vmin
				c = a + 56
				header
					clip: rect(0, 100vw, h, 0)
					h3
						top 30vmin
					h4	
						left 0 
						bottom: calculo(vm,b, 315)
					p
						left 0 
						bottom: calculo(vm,b,200)
					figure
						bottom: calculo(vm,b, 40)
				article
					img
						width: 45vw
						height auto
						top 140vh
						left auto
						filter: blur(1px)
						opacity 1
			&#mars
				h = 150vh
				height h
				a = 272
				b = 2
				vm = 17vmin
				c = a + 56
				header
					clip: rect(0, 100vw, h, 0)
					h4	
						left 0 
						bottom: calculo(vm,b, 315)
					p
						left 0 
						bottom: calculo(vm,b,200)
					figure
						bottom: calculo(vm,b, 40)
				article
					img
						height 160vh
						left -10vmin
						top -110vmin
						filter: blur(1.5px)
						opacity 0.8
			&#caixa
				h = 150vh
				height h
				a = 272
				b = 2
				vm = 17vmin
				c = a + 56
				header
					clip: rect(0, 100vw, h, 0)
					h3
						top 30vmin
					h4	
						left 0 
						bottom: calculo(vm,b, 315)
					p
						left 0 
						bottom: calculo(vm,b,200)
					figure
						bottom: calculo(vm,b, 40)
				article
					flex_column(flex-start,center)
					padding 0
					margin: 0
					width: 100vw
					img
						width: 95vw
						height auto
						top 110vh
						left auto
						filter: blur(1px)
						opacity 1
			&#dkids
				h = 150vh
				height h
				a = 272
				b = 2
				vm = 17vmin
				c = a + 56
				header
					clip: rect(0, 100vw, h, 0)
					h3
						top 30vmin
					h4	
						left 0 
						bottom: calculo(vm,b, 315)
					p
						left 0 
						bottom: calculo(vm,b,200)
					figure
						bottom: calculo(vm,b, 40)
				article
					flex_column(flex-start,center)
					padding 0
					margin: 0
					width: 100vw
					img
						width: 95vw
						height auto
						top 110vh
						left auto
						filter: blur(1px)
						opacity 1
	.interna
		#Scroll-Pack
			>div
				nav
					left: 0;
					top: 0;
					.nav-wap
						top 0	
						.logo
							top 4vh
							left 0
							position: fixed
					.callback
						.back
							width: 15vmin
		&.cases
			&#case2
			&#case3
				#hero
					.titulo
						h3
							font-size: 4em
				&#case2
					#hero
						img
							height calculo(65vmin,10, 150)
							right calculo(-27vmin,0, 0)
							bottom calculo(0vmin,5, 0)
				&#case3
					#hero
						img
							height calculo(65vmin,10, 500)
							right calculo(-18vmin,0, 0)
							bottom calculo(0vmin,1, 0)
						.titulo
							h3
								margin-top -0.3em
			.destaque
				padding calculo(20vmin,0, 0) 0
				header
					h4
						width calculo(70vmin,10, 50) 
						margin:calculo(3vmin,0, 0) 0 calculo(3vmin,0, 0)
				article
					p
						width calculo(70vmin,10, 50)
						font-size: 4vmin
						line_letter(14, 1)
		.content
			a = 30
			header
				h5
				h6
					width calculo(54vmin,10, 50) 
					line_letter(102, 2)
			article
				p	
					font-size: 0.96em
					width calculo(54vmin,10, 50) 
					line_letter(14, 1)
				blockquote
					margin-top calculo(5vmin,0, 0) 
					font-size: 1.1em
					left 0
					line_letter(14, 2)
				img
					width calculo(75vmin,10, 150)
					position relative
					&.img_part
						height auto
						position:relative
						&.img_g
							width calculo(75vmin,10, 150)
						&#sketchs
							width calculo(85vmin,10, 150)
						&.mms_001
							width: calculo(1em,380, 19*a)
							left 13vmin
							margin: calculo(4vmin,10, 3*a) 0 calculo(1vmin,0, -.1*a)
						&.mms_002
							width: calculo(1em,240, 17*a)
							left -16vmin
							box-shadow: 1px 0px 8vmin -12px rgba(0,0,0,0.1)
							// top: 10vmin
							margin: calculo(4vmin,0, -3*a) 0 calculo(2vmin,0, -2*a)
						&.mms_003
							width: calculo(1em,500, 19*a)
							left 30vmin
							margin: calculo(4vmin,10, 4*a) 0
							box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.4)
						&.mms_004
							// box-shadow: 1px 0px 18vmin -12px rgba(0,0,0,0.3)
							margin: calculo(4vmin,0, 1.2*a) 0
							width: calculo(4vmin,280, 8*a)
				
		&#footer
			header
				h3
					font(300, 50, neue-h, 70)
					line_letter(3, 3)
			article
				flex-direction: column
				padding-bottom: 13vh
				p
					width: 100%
					&.right
						dist(0,40)
						font(300,-7.5, neue-t, 70)
						line_letter(23, 3)
