// VAR
:root {
  --white: #fff;
  --grey: #f1f4f8b0;
  --dark-grey: #6b7c93;
  --green: #24b47e;
  --teal: #4F96CE;
  --blue: #6772e5;
  --dark-blue: #4F3EF5;
  --spacer: 28px;
}

html
body
    margin 0
    padding 0
    width 100%
    height 100%

body
    font-family: work-sans, sans-serif;
    font-style: normal;
    font-weight: 100;

a
    color #000000


a:hover 
    color #ff0000

section
    height 100vh
    width 100vw

.container {
  scroll-snap-type: y mandatory;
}
.container {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}
h1 {
    transform: translateY(-50%);
    height 100vh;
    position: fixed
}








    // @zero: 0;
//all css
html{
  font-family:'PingFang SC';
}
body {
  margin: 0;
}
body h1:first-child{
    display: none;
  }
h1 {
  margin: 13px;
}
p {
  margin: 0px;
}



.motion-common() {
  animation-duration: 15s;
  animation-fill-mode: both;
}

.fade-enter, .fade-leave, .fade-appear {
  animation-duration: 15s;
}

.fade-enter {
  opacity: 0;
  // .motion-common();
  animation-duration: 15s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-appear {
  opacity: 0;
  // .motion-common();
  animation-duration: 15s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-leave {
  // .motion-common();
  animation-duration: 15s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-enter.fade-enter-active {
  // animation-name: fadeIn;
  animation-play-state: running;
}

.fade-appear.fade-appear-active {
  // animation-name: fadeIn;
  animation-play-state: running;
}

.fade-leave.fade-leave-active {
  // animation-name: fadeOut;
  animation-play-state: running;
}

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes fadeOut {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }

// link css
.logo{
  height:58px;
  font-size:calc(10px + 5 * ((100vw + 100vh)/2 / 1120));
  font-weight: 500;
  letter-spacing: 0.05vw;
  line-height:56px;
  display: flex;
  align-items: left ;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 0 calc(1em + 2vw);
}
.nav {
  position: fixed;

  display: flex;
  z-index: 8;
  top: 0;
  & .nav-wap{
    float: right;
    padding-right:200px;
    // 
  }
  & .nav-list {
    width: 100px;
    height: 100%;
    float: left;
    line-height: 58px;
    text-align: center;
    cursor: pointer;
    visibility hidden;
    &:hover, &.active {
    }
  }
  & .logo {
    visibility: visible;  
  }
  & .nav-bar {
    width: 100px;
    position: absolute;
    top: 58px;
    left: 0;
    height: 2px;
    transition: left .3s;
  }
}
#page1,#page2, #page3, #page4, #page5, #page6 {
  margin: 0 auto;
  position: relative;
  height:100vh;
  display: flex;
  text-align: center;
  overflow: hidden;
  height:100vh;
}
#page0 {
  
  z-index 9;
  }
.page1, .page2, .page3 {
}

.home-title{
  position: relative;
  
}



$calc_font = 10 * ((100vw + 100vh)/2 / 1120)
span {
  position: relative;
}
.intro
  position relative
  display: flex;
  flex-direction: column
  width: 86vw;
  text-align: left;
  justify-content: flex-start
  align-items: flex-start
  height: 0
  top: calc((100vw + 100vh)/2/6)
  z-index: 99 !important;
  div
    color #323437
    font-size calc(12px + 6 * ((100vw + 100vh)/2 / 1120));
    font-weight 500;
    line-height calc(15px + 8 * ((100vw + 100vh)/2 / 1120));

  a
    width 10vw
    height 40px
    text-decoration none
    font-weight 700
    color #C73953
    font-size 1.1em
.container, 
.modal-body {
  .pack-page {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    top: 0 
  }
  .tween-one {
    overflow-y: auto;
    flex-direction: column;
    width: 80vw;
    min-height: 100vh;
    text-align: left;
    justify-items: flex-start;
    align-items: flex-start;
    top: 4em;
    position: absolute;

    margin: 0 0 0 calc(2.6em + 4vw);
  }

}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1050;
  overflow-y: scroll;

  .close {
    position: fixed; 
    top: 1em;
    right: 1em;
}
}


.container {

.pack-page{

  position: relative;
  display: flex;
  min-height: 100vh;
  background-color: #f0f0f0;
  
  .tween-one{
    overflow-y: auto;
    flex-direction: column;
    width: 80vw;
    min-height: 100vh;
    opacity: 0;
    text-align: left;
    justify-items: flex-start;
    align-items: flex-start;
    top: 4em;
    position: fixed;

    div {
      
      text-align:left;
      font-size:calc(12px + 10 * ((100vw + 100vh)/2 / 1120));
      line-height: calc(20px + 10 * ((100vw + 100vh)/2 / 1120));
    }
    & .rc-collapse {
      display flex;
      position absolute;
      background-color: transparent;
      border: 0;
    }
  }
}
}
.tween-one h2{
      text-align:left;
      color:#444;
      font-size:calc(20px + 40 * ((100vw + 100vh)/2 / 1120));
    }
.demo-content{
  margin: 0 auto;
  width: 600px;
  height: 80px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.demo-content2{
  margin: 0 auto;
  width: 600px;
  height: 80px;
  margin-top: 30px;
  border-radius: 4px;
}
.page-title{
  & p{
    font-size: 60px;
  }
}
.page-description{
  padding-top: 20px;
  & p{
    font-size: 18px;
  }
}
.parallax-shape{
  line-height: 120px;
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 24px;
}
#main {
  padding: 0;
}
#main .demo {
  padding: 0;
}
.navbar {
  display: none !important;
}

.ver_mais {
      font-size:calc(12px + 10 * ((100vw + 100vh)/2 / 1120));
      transform: 'translateY(100px)';
}