.darker {
  color: #000006;
}
.red {
  color: #ff053e;
}
.grey {
  color: rgba(0,0,0,0.3);
}
.white {
  color: #fff;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}
body {
  font-size: 16px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .logo,
body .barra_topo,
body .back {
  height: calc(50 * ((50vw + 50vh) / 1000)) !important;
}
body .logo {
  position: fixed;
  margin: 0;
  padding: 0;
  left: calc(39 * ((80vw + 20vh)  / 1000));
  top: calc(40 * ((34vw + 66vh) / 1000));
  font-weight: 600;
  font-size: calc(0.6em + 8 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(50 * ((60vw + 40vh) / 100));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: calc(1em + 8 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.2 * ((76vw + 24vh) / 1000));
  text-decoration: none;
  opacity: 1;
  cursor: pointer;
  word-spacing: 0.1em;
  white-space: pre-line;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
body .logo span {
  white-space: pre-line;
  font-weight: 300;
  opacity: 0.8;
  line-height: calc(1em + -2.6 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.8 * ((76vw + 24vh) / 1000));
  left: 0;
  margin-top: 0.05em;
}
.magenta {
  color: #ff2b6a;
}
.white {
  color: #fff;
}
.darker {
  color: #000006;
}
.container > .main {
  align-items: left;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.main section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main section header {
  margin: 0;
  padding: 0;
}
.main section p {
  line-height: calc(1em + 14 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.1 * ((76vw + 24vh) / 1000));
  position: relative;
  margin: 0 0 calc(1em + (0 + 30) * (55vw + 45vh) / 1000);
  word-spacing: 0.08em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.main section p span {
  display: block;
}
.main section p span a {
  color: #ff2b6a;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  z-index: 9999;
  line-height: calc(1em + 13 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0 * ((76vw + 24vh) / 1000));
  height: 100%;
}
.main section p span a:hover {
  transition-duration: 1s;
  opacity: 0.6;
  position: relative;
}
.main section#intro {
  height: 90vh;
  width: 100vw;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main section#intro header {
  left: calc(180 * ((80vw + 20vh)  / 1000));
  top: calc(360 * ((34vw + 66vh) / 1000));
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.main section#intro header > label {
  position: absolute;
  font-weight: 500;
  font-size: calc(0.6em + 5 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(60 * ((60vw + 40vh) / 100));
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  line-height: calc(1em + 6 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0 * ((76vw + 24vh) / 1000));
  opacity: 1;
}
.main section#intro header h3,
.main section#intro header p {
  left: calc(180 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  -webkit-font-smoothing: antialiased;
}
.main section#intro header h3 {
  position: relative;
  font-weight: 500;
  font-size: calc(0.6em + 6 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(70 * ((60vw + 40vh) / 100));
  line-height: calc(1em + 8.2 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.1 * ((76vw + 24vh) / 1000));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  transition: all 800ms cubic-bezier(0, 0.49, 0.85, 0.91) -0.2s;
  opacity: 0;
  word-spacing: 0.06em;
}
.main section#intro header p {
  font-weight: 500;
  font-size: calc(0.6em + 6 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(40 * ((60vw + 40vh) / 100));
  line-height: calc(1em + 8 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.1 * ((76vw + 24vh) / 1000));
  transition: all 600ms cubic-bezier(0, 0.49, 0.85, 0.91) -0.2s;
  margin: 0;
  padding: 0;
  word-spacing: 0.16em;
  opacity: 0;
}
.main section#page1 {
  background-color: #fff;
}
.main section#page1 header h2 {
  transition: all 500ms cubic-bezier(0, 0.49, 0.85, 0.91) -0.2s;
  font-weight: 900;
  font-size: calc(0.6em + 300 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(106 * ((60vw + 40vh) / 100));
  line-height: calc(1em + -30 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -12 * ((76vw + 24vh) / 1000));
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  margin: calc(0.1em + (0 + 0) * (55vw + 45vh) / 1000) 0 calc(1em + (0 + 0) * (55vw + 45vh) / 1000);
  padding: 0;
  left: calc(60 * ((80vw + 20vh)  / 1000));
  top: calc(140 * ((34vw + 66vh) / 1000));
  white-space: pre-wrap;
}
.main section#page1 header .grape {
  color: #ff053e;
  transition: all 600ms cubic-bezier(0, 0.49, 0.85, 0.91) -0.2s;
  color: #303031;
}
.main section#page1 header .grape i {
  font-weight: 600;
  font-style: normal;
  color: #000006;
}
.main section#page1 article p {
  font-weight: 500;
  font-size: calc(0.6em + 6 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(30 * ((60vw + 40vh) / 100));
  left: calc(580 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  line-height: calc(1em + 10 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.1 * ((76vw + 24vh) / 1000));
}
.main section.cases {
  transition: all 1s;
}
.main section.cases a.callcase {
  position: absolute;
  opacity: 0;
  top: 0vh;
  left: 0vw;
  z-index: 99999;
  width: 100%;
  height: 100%;
}
.main section.cases#caixa {
  height: 70vh;
  margin: 0 calc(1.2em + 2vw) calc(1.2em + 2vw);
}
.main section.cases#pop {
  height: 60vh;
  margin: 0 calc(1.2em + 2vw) calc(1.2em + 2vw);
  display: inline-flex;
  width: 40vw;
}
.main section.cases#dkids {
  height: 60vh;
  margin: 0 0 calc(1.2em + 2vw);
  display: inline-flex;
  width: calc(100vw - (calc(1.2em + 2vw) * 3 + 40vw));
}
.main section.cases#mars {
  height: 80vh;
  margin: 0 calc(1.2em + 2vw);
}
.main section.cases header,
.main section.cases article {
  position: absolute;
}
.main section.cases header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  position: absolute;
  z-index: 2;
}
.main section.cases header h4 {
  font-weight: 700;
  font-size: calc(0.6em + 20 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(30 * ((60vw + 40vh) / 100));
  text-align: center;
  line-height: calc(1em + 20 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.8 * ((76vw + 24vh) / 1000));
  position: relative;
  text-align: left;
  text-transform: lowercase;
}
.main section.cases header p {
  font-weight: 400;
  font-size: calc(0.6em + 4 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(90 * ((60vw + 40vh) / 100));
  text-align: center;
  line-height: calc(1em + 10 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.14 * ((76vw + 24vh) / 1000));
  position: relative;
  text-align: left;
  white-space: pre-wrap;
}
.main section.cases article {
  width: 100vw;
  margin: 0;
  padding: 0;
  transition: all 500ms ease-in -0.3s;
}
.main section.cases article img {
  position: absolute;
}
.main section.cases.over header p {
  transition: transform ease-in-out 2.1s !important;
  opacity: 0.9 !important;
  text-decoration: underline;
}
.main section.cases.over header h4 {
  opacity: 1;
}
.main section.cases.over header label {
  transform: scale(0.99) !important;
}
.main section.cases.over header figure {
  transform: translateX(3.2vmin) translateY(-0.1vmin) scale(0.8) !important;
  transition: transform 300ms ease-in-out 0.15s;
  opacity: 0.8 !important;
}
.main section.cases#caixa {
  background-image: radial-gradient(at 0% 10%, rgba(255,255,255,0.2) 5%, rgba(255,255,255,0) 40%);
}
.main section.cases#caixa header {
  position: absolute;
  overflow: hidden;
  left: calc(90 * ((80vw + 20vh)  / 1000));
  top: calc(180 * ((34vw + 66vh) / 1000));
}
.main section.cases#caixa header h4 {
  margin: 0;
  padding: 0;
}
.main section.cases#caixa header h4 small {
  font-size: 0.6em;
  font-weight: 600;
}
.main section.cases#caixa header p {
  width: calc(1em + (0 + 340) * (55vw + 45vh) / 1000);
}
.main section.cases#caixa header figure {
  left: calc(70 * ((80vw + 20vh)  / 1000));
  top: calc(360 * ((34vw + 66vh) / 1000));
}
.main section.cases#caixa article {
  height: 100vh;
}
.main section.cases#caixa article img {
  left: calc(190 * ((80vw + 20vh)  / 1000));
  top: calc(80 * ((34vw + 66vh) / 1000));
  height: 80vh;
  position: absolute;
}
.main section.cases#pop {
  height: 60vh;
  background-image: radial-gradient(at 90% 10%, rgba(255,255,255,0.2) 5%, rgba(255,255,255,0) 60%);
}
.main section.cases#pop header {
  position: absolute;
  left: calc(290 * ((80vw + 20vh)  / 1000));
  top: calc(190 * ((34vw + 66vh) / 1000));
}
.main section.cases#pop header h4 {
  margin: 0;
  padding: 0;
}
.main section.cases#pop header h4 small {
  font-size: 0.6em;
  font-weight: 600;
}
.main section.cases#pop header p {
  width: calc(1em + (0 + 120) * (55vw + 45vh) / 1000);
}
.main section.cases#pop article {
  position: absolute;
  height: 82vh;
}
.main section.cases#pop article img {
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(-260 * ((34vw + 66vh) / 1000));
  position: absolute;
  height: 88vh;
  box-shadow: 1px 0px 9vmin -12px rgba(0,0,0,0.3);
}
.main section.cases#dkids {
  background-image: radial-gradient(at -10% 10%, rgba(255,255,255,0.25) 5%, rgba(255,255,255,0) 40%);
}
.main section.cases#dkids header {
  position: absolute;
  left: calc(50 * ((80vw + 20vh)  / 1000));
  top: calc(50 * ((34vw + 66vh) / 1000));
  animation: 2s 0s cubic-bezier(0.77, 0, 0.175, 1) 1 alternate rect;
}
.main section.cases#dkids header h4 {
  margin: 0;
  padding: 0;
}
.main section.cases#dkids header h4 small {
  font-size: 0.6em;
  font-weight: 600;
}
.main section.cases#dkids header p {
  width: calc(1em + (0 + 150) * (55vw + 45vh) / 1000);
}
.main section.cases#dkids article {
  height: 90vh;
}
.main section.cases#dkids article img {
  height: 80vh;
  left: calc(-70 * ((80vw + 20vh)  / 1000));
  top: calc(206 * ((34vw + 66vh) / 1000));
  position: absolute;
}
.main section.cases#mars header {
  position: absolute;
  left: calc(120 * ((80vw + 20vh)  / 1000));
  top: calc(190 * ((34vw + 66vh) / 1000));
  animation: 2s 0s cubic-bezier(0.77, 0, 0.175, 1) 1 alternate rect;
}
.main section.cases#mars header h3 {
  color: #000006;
}
.main section.cases#mars header h4 {
  margin: 0;
  padding: 0;
}
.main section.cases#mars header h4 small {
  font-size: 0.6em;
  font-weight: 600;
}
.main section.cases#mars header p {
  width: calc(1em + (0 + 120) * (55vw + 45vh) / 1000);
}
.main section.cases#mars header figure {
  left: calc(92 * ((80vw + 20vh)  / 1000));
  top: calc(400 * ((34vw + 66vh) / 1000));
}
.main section.cases#mars article img {
  left: calc(280 * ((80vw + 20vh)  / 1000));
  top: calc(-520 * ((34vw + 66vh) / 1000));
  position: absolute;
  height: 152vh;
}
.main section.cases_clicado {
  transform: scale(5, 5);
  z-index: 99999;
  margin: 0;
  transition: all 1000ms ease-in 1.2s;
}
#footer {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e0e10;
  margin: calc(1em + (0 + 60) * (55vw + 45vh) / 1000) 0 0;
  padding: calc(1em + (0 + 60) * (55vw + 45vh) / 1000) 0 calc(1em + (0 + 80) * (55vw + 45vh) / 1000);
}
#footer header,
#footer article {
  width: 31vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#footer header {
  display: flex;
  position: relative;
  height: auto;
}
#footer header h3 {
  font-weight: 600;
  font-size: calc(0.6em + 5 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(0 * ((60vw + 40vh) / 100));
  width: 100%;
  line-height: calc(1em + 19 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.6 * ((76vw + 24vh) / 1000));
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#footer article {
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  position: relative;
  margin: calc(1em + (0 + 10) * (55vw + 45vh) / 1000) 0 0;
}
#footer article p {
  position: relative;
  color: #aaaaab;
  font-weight: 500;
  font-size: calc(0.6em + 4 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(0 * ((60vw + 40vh) / 100));
  line-height: calc(1em + 8 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.3 * ((76vw + 24vh) / 1000));
  word-spacing: 0.1em;
  width: auto;
  margin: 0;
  padding: 0;
}
#footer article p a {
  line-height: calc(1em + 8 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.1 * ((76vw + 24vh) / 1000));
  font-weight: 600;
  text-decoration: none;
  opacity: 1;
  margin: 0;
  padding: 0;
}
#footer article p a:hover {
  opacity: 0.8;
}
#footer article p.right {
  font-weight: 600;
  font-size: calc(0.6em + -2 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(0 * ((60vw + 40vh) / 100));
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(100 * ((34vw + 66vh) / 1000));
  line-height: calc(1em + 10 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.5 * ((76vw + 24vh) / 1000));
  position: relative;
  text-align: right;
  color: #000006;
  align-items: flex-end;
  width: auto;
}
#footer article p.right b {
  font-weight: 600;
  font-size: calc(0.6em + 4 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(80 * ((60vw + 40vh) / 100));
  text-align: right;
  width: auto;
  color: #000006;
}
.interna {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.interna .back {
  z-index: 9999;
  position: fixed;
  width: calc(62 * ((80vw + 20vh) / 1000));
  left: 1em;
  height: calc(85 * ((60vw + 40vh) / 1000));
  margin: 0;
  padding: 0;
}
.interna a {
  left: 0;
  position: relative;
  padding: 0 calc(1em + (0 + 2) * (55vw + 45vh) / 1000);
  margin: 0;
  width: auto;
  height: calc(1em + (0 + 10) * (55vw + 45vh) / 1000);
}
.interna #Scroll-Pack {
  position: absolute;
  z-index: 999;
  height: 100vh;
  top: 0;
  width: 100vw;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.interna #Scroll-Pack >div {
/* position: fixed; */
  top: 0px;
  width: 8em;
  left: 0;
}
.interna #Scroll-Pack >div nav {
  transform: translate(0px, 0vh);
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
}
.interna #Scroll-Pack >div nav .nav-wap {
  position: absolute;
  top: 0;
}
.interna #Scroll-Pack >div nav .nav-wap .logo {
  height: auto;
  opacity: 1;
}
.interna #Scroll-Pack >div nav .callback {
  left: 0;
  position: relative;
  padding: 0 calc(1em + 2 * ((100vw + 100vh) / 2 / 1120));
  margin: 0;
  width: auto;
}
.interna #Scroll-Pack >div nav .callback .back {
  z-index: 9999;
  position: fixed;
  margin: 0;
  padding: 0;
  transition: transform 400ms ease-in-out 0.1s;
}
.interna #Scroll-Pack >div nav .callback .back:hover {
  transform: translateX(-0.8vmin) translateY(0.01vmin) scale(1.1) !important;
  transition: transform 400ms ease-in-out 0.1s;
}
.interna.cases {
  background-color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
}
.interna.cases .barra_topo {
  width: 100vw;
  background-color: #fff;
  position: fixed;
  display: flex;
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(8 * ((34vw + 66vh) / 1000));
  opacity: 0;
  align-items: center;
  justify-content: center;
}
.interna.cases .barra_topo h4 {
  left: calc(-1 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  position: relative;
  font-weight: 500;
  font-size: calc(0.6em + 5 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(0 * ((60vw + 40vh) / 100));
  width: 30vw;
  word-spacing: 0.1em;
  white-space: pre-line;
  line-height: calc(1em + 5 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.1 * ((76vw + 24vh) / 1000));
}
.interna.cases #hero nav,
.interna.cases.navigation nav {
  z-index: 9999;
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.interna.cases #hero nav .nav-wap,
.interna.cases.navigation nav .nav-wap {
  clip: auto;
  top: 0;
  z-index: 9999;
}
.interna.cases #hero nav .nav-wap a,
.interna.cases.navigation nav .nav-wap a {
  text-align: left;
  left: calc(15 * ((80vw + 20vh)  / 1000));
  top: calc(60 * ((34vw + 66vh) / 1000));
  position: relative;
}
.interna.cases #hero nav .nav-wap.callback,
.interna.cases.navigation nav .nav-wap.callback {
  width: calc(1em + 200 * ((100vw + 100vh) / 1000));
  height: calc(1em + 100 * ((100vw + 100vh) / 1000));
  z-index: 9999;
}
.interna.cases #hero {
  height: 100vh;
  width: 100vw;
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip: rect(0, 100vw, 100vh, 0);
  position: absolute;
  z-index: 9;
}
.interna.cases #hero header {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.interna.cases #hero .titulo {
  z-index: 9999;
  position: fixed;
  opacity: 0;
  height: auto;
  min-height: 4em;
}
.interna.cases #hero .titulo h3 {
  font-weight: 700;
  font-size: calc(0.6em + 220 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(100 * ((60vw + 40vh) / 100));
  left: calc(400 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  width: auto;
  line-height: calc(1em + 20 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 43 * ((76vw + 24vh) / 1000));
  margin: 0;
  padding: 0;
  top: auto;
  left: auto;
  text-transform: lowercase;
}
.interna.cases #hero .titulo h3 sub {
  font-size: 0.4em;
  position: relative;
  bottom: 0.6em;
}
.interna.cases #hero img {
  position: fixed;
  opacity: 0;
  width: auto;
}
.interna.cases .destaque {
  position: relative;
  width: 100vw;
  padding: calc(1em + (0 + 70) * (55vw + 45vh) / 1000) 0 calc(1em + (0 + 40) * (55vw + 45vh) / 1000);
  margin: 100vh 0 calc(1em + (0 + 70) * (55vw + 45vh) / 1000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.interna.cases .destaque header,
.interna.cases .destaque article {
  position: relative;
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
}
.interna.cases .destaque header {
  flex-direction: row;
  display: flex;
}
.interna.cases .destaque header .side-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: calc(0.6em + 10 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(40 * ((60vw + 40vh) / 100));
}
.interna.cases .destaque header .side-content label {
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-size: calc(0.6em + -2 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(100 * ((60vw + 40vh) / 100));
  line-height: calc(1em + 5 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.1 * ((76vw + 24vh) / 1000));
  word-spacing: 0.35em;
}
.interna.cases .destaque header .side-content label.ano {
  font-size: 0.95em;
  line-height: calc(1em + 20 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 1 * ((76vw + 24vh) / 1000));
  font-weight: 400;
  opacity: 1;
}
.interna.cases .destaque header .side-content label.tags {
  opacity: 1;
}
.interna.cases .destaque header .side-content label.url {
  text-transform: lowercase;
}
.interna.cases .destaque header .side-content label.url::before {
  content: '⏤';
  font-size: 0.8em;
  width: 100%;
  height: 100%;
  display: block;
  padding: calc(0.1vmin + (10 + 0) * (55vw + 45vh) / 1000) 0 calc(0.1vmin + (20 + 0) * (55vw + 45vh) / 1000);
}
.interna.cases .destaque header .main-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: calc(-165 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
}
.interna.cases .destaque header .main-content h4,
.interna.cases .destaque header .main-content h5,
.interna.cases .destaque header .main-content h6 {
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  -webkit-font-smoothing: antialiased;
  transition: all 600ms cubic-bezier(0, 0.49, 0.85, 0.91) -0.2s;
  margin: 0;
  padding: 0;
}
.interna.cases .destaque header .main-content h4 {
  font-weight: 500;
  font-size: calc(0.6em + 18 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(40 * ((60vw + 40vh) / 100));
  word-spacing: 0.1em;
  white-space: pre-line;
  line-height: calc(1em + 5 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.1 * ((76vw + 24vh) / 1000));
}
.interna.cases .destaque header .main-content h5 {
  color: rgba(0,0,0,0.3);
  font-weight: 500;
  font-size: calc(0.6em + 18 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(40 * ((60vw + 40vh) / 100));
  padding: 0 0 calc(0.1vmin + (30 + 0) * (55vw + 45vh) / 1000);
  line-height: calc(1em + 5 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.1 * ((76vw + 24vh) / 1000));
}
.interna.cases .destaque header .main-content h6 {
  color: #000006;
  font-weight: 500;
  font-size: calc(0.6em + 3.5 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(40 * ((60vw + 40vh) / 100));
  padding: calc(0.1vmin + (45 + 0) * (55vw + 45vh) / 1000) 0 calc(0.1vmin + (0 + 0) * (55vw + 45vh) / 1000);
  line-height: calc(1em + 5 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.2 * ((76vw + 24vh) / 1000));
}
.interna.cases .destaque header .main-content p {
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  font-weight: 200;
  font-size: calc(0.6em + 3 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(28 * ((60vw + 40vh) / 100));
  line-height: calc(1em + 11 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.1 * ((76vw + 24vh) / 1000));
  word-spacing: 0.1em;
  white-space: pre-line;
  color: #343436;
}
.interna.cases .destaque header .main-content p i {
  font-weight: 500;
  color: #dadada rker;
  font-style: normal;
}
.interna.cases .navigation {
  position: absolute;
  clip: rect(100vh, 100vw, auto, 0);
  height: 100%;
}
.interna.cases#pop #hero {
  background-attachment: fixed;
}
.interna.cases#pop section header img {
  position: fixed;
  left: auto;
  height: auto;
  left: calc(250 * ((80vw + 20vh)  / 1000));
  top: calc(-210 * ((34vw + 66vh) / 1000));
  width: calc(1em + (400 + 510) * (55vw + 45vh) / 1000);
}
.interna.cases#pop section article .pop_001 {
  width: calc(1em + (400 + 450) * (55vw + 45vh) / 1000);
  left: calc(175 * ((80vw + 20vh)  / 1000));
  top: calc(48 * ((34vw + 66vh) / 1000));
}
.interna.cases#pop section article .pop_002 {
  width: calc(1em + (350 + 420) * (55vw + 45vh) / 1000);
  left: calc(-165 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
}
.interna.cases#pop section article .pop_003 {
  width: calc(1em + (320 + 450) * (55vw + 45vh) / 1000);
  left: calc(146 * ((80vw + 20vh)  / 1000));
  top: calc(-40 * ((34vw + 66vh) / 1000));
  box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.1);
}
.interna.cases#pop section article .pop_full {
  width: calc(1em + (180 + 300) * (55vw + 45vh) / 1000);
  box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.1);
}
.interna.cases#mars #hero {
  background-attachment: fixed;
  background-image: radial-gradient(at 20% 0%, rgba(7,59,163,0) 70%, rgba(232,177,0,0) 8%, #e8b100 109%);
}
.interna.cases#mars section header img {
  position: fixed;
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(-50 * ((34vw + 66vh) / 1000));
  height: 110vh;
  width: auto;
}
.interna.cases#mars section article .mms_001 {
  width: calc(1em + (400 + 450) * (55vw + 45vh) / 1000);
  left: calc(175 * ((80vw + 20vh)  / 1000));
  top: calc(48 * ((34vw + 66vh) / 1000));
}
.interna.cases#mars section article .mms_002 {
  width: calc(1em + (400 + 360) * (55vw + 45vh) / 1000);
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(48 * ((34vw + 66vh) / 1000));
  box-shadow: 1px 0px 8vmin -12px rgba(0,0,0,0.1);
}
.interna.cases#mars section article .mms_003 {
  width: calc(1em + (400 + 360) * (55vw + 45vh) / 1000);
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(-40 * ((34vw + 66vh) / 1000));
  box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.4);
}
.interna.cases#mars section article .mms_004 {
  width: calc(1em + (180 + 300) * (55vw + 45vh) / 1000);
  box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.2);
}
.interna.cases#caixa #hero {
  background-attachment: fixed;
  background-image: radial-gradient(at 20% 20%, rgba(7,59,163,0) 70%, rgba(31,111,179,0) 58%, #1a76c0 99%);
}
.interna.cases#caixa section header img {
  position: fixed;
  left: auto;
  left: calc(90 * ((80vw + 20vh)  / 1000));
  top: calc(-80 * ((34vw + 66vh) / 1000));
  width: calc(1em + (400 + 1200) * (55vw + 45vh) / 1000);
  height: auto;
}
.interna.cases#caixa section article .caixa_001 {
  width: calc(1em + (400 + 360) * (55vw + 45vh) / 1000);
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(10 * ((34vw + 66vh) / 1000));
}
.interna.cases#caixa section article .caixa_003 {
  width: calc(1em + (180 + 300) * (55vw + 45vh) / 1000);
}
.interna.cases#caixa section article .caixa_005 {
  width: calc(1em + (180 + 300) * (55vw + 45vh) / 1000);
}
.interna.cases#caixa section article .caixa_006 {
  width: calc(1em + (180 + 330) * (55vw + 45vh) / 1000);
}
.interna.cases#caixa section article .caixa_016 {
  width: calc(1em + (180 + 210) * (55vw + 45vh) / 1000);
}
.interna.cases#caixa section article .caixa_full {
  width: calc(1em + (180 + 540) * (55vw + 45vh) / 1000);
}
.interna.cases#caixa section article .caixa_parts_mob {
  width: calc(1em + (180 + 540) * (55vw + 45vh) / 1000);
  box-shadow: 1px 0px 5vmin -12px rgba(0,0,0,0.1);
}
.interna.cases#dkids #hero {
  background-attachment: fixed;
}
.interna.cases#dkids section header img {
  position: fixed;
  left: calc(290 * ((80vw + 20vh)  / 1000));
  top: calc(-270 * ((34vw + 66vh) / 1000));
  width: calc(1em + (400 + 570) * (55vw + 45vh) / 1000);
  height: auto;
}
.interna.cases#dkids section article .dkids_001 {
  left: calc(-20 * ((80vw + 20vh)  / 1000));
  top: calc(10 * ((34vw + 66vh) / 1000));
  width: calc(1em + (400 + 780) * (55vw + 45vh) / 1000);
  margin-bottom: calc(1em + (400 + -630) * (55vw + 45vh) / 1000);
}
.interna.cases#dkids section article .dkids_003 {
  width: calc(1em + (400 + 120) * (55vw + 45vh) / 1000);
}
.interna.cases#dkids section article .dkids_004 {
  width: calc(1em + (400 + 240) * (55vw + 45vh) / 1000);
  margin: calc(1em + (0 + 10) * (55vw + 45vh) / 1000) 0;
}
.interna.cases#dkids section article .dkids_005 {
  width: calc(1em + (400 + 450) * (55vw + 45vh) / 1000);
  box-shadow: 1px 0px 5vmin -12px rgba(0,0,0,0.2);
  margin: calc(1em + (0 + 20) * (55vw + 45vh) / 1000) 0;
}
.interna.cases#dkids section article .dkids_full {
  width: calc(1em + (180 + 300) * (55vw + 45vh) / 1000);
}
.interna section.content,
.interna section,
.interna section .image {
  margin: 0;
  position: relative;
  z-index: 3;
  height: auto;
  display: flex;
}
.interna section.content .bxx_margin,
.interna section .bxx_margin,
.interna section .image .bxx_margin {
  margin: calc(1em + (0 + 80) * (55vw + 45vh) / 1000) 0 calc(1em + (0 + 10) * (55vw + 45vh) / 1000);
}
.interna section.content .bx_margin,
.interna section .bx_margin,
.interna section .image .bx_margin {
  margin: calc(1em + (0 + 60) * (55vw + 45vh) / 1000) 0 calc(1em + (0 + 10) * (55vw + 45vh) / 1000);
}
.interna section.content .b_margin,
.interna section .b_margin,
.interna section .image .b_margin {
  margin: calc(1em + (0 + 40) * (55vw + 45vh) / 1000) 0 calc(1em + (0 + 5) * (55vw + 45vh) / 1000);
}
.interna section.content .mx_margin,
.interna section .mx_margin,
.interna section .image .mx_margin {
  margin: calc(1em + (0 + 30) * (55vw + 45vh) / 1000) 0 calc(1em + (0 + 5) * (55vw + 45vh) / 1000);
}
.interna section.content .m_margin,
.interna section .m_margin,
.interna section .image .m_margin {
  margin: calc(1em + (0 + 15) * (55vw + 45vh) / 1000) 0 calc(1em + (0 + 2) * (55vw + 45vh) / 1000);
}
.interna section.content .s_margin,
.interna section .s_margin,
.interna section .image .s_margin {
  margin: calc(1em + (0 + 5) * (55vw + 45vh) / 1000) 0 calc(1em + (0 + 5) * (55vw + 45vh) / 1000);
}
.interna section.content .sx_margin,
.interna section .sx_margin,
.interna section .image .sx_margin {
  margin: calc(1em + (0 + 2) * (55vw + 45vh) / 1000) 0 calc(1em + (0 + 2) * (55vw + 45vh) / 1000);
}
.interna section.image {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.interna section.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.interna section.content header,
.interna section.content article {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 24vw;
}
.interna section.content h5,
.interna section.content h6,
.interna section.content p,
.interna section.content blockquote {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  left: calc(-34 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
}
.interna section.content h5 {
  font-weight: 600;
  font-size: calc(0.6em + 18 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(0 * ((60vw + 40vh) / 100));
  word-spacing: 0.1em;
  width: auto;
  color: #000006;
  line-height: calc(1em + 6 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.1 * ((76vw + 24vh) / 1000));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.interna section.content h6 {
  font-weight: 500;
  font-size: calc(0.6em + 3.4 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(0 * ((60vw + 40vh) / 100));
  line-height: calc(1em + 10 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.1 * ((76vw + 24vh) / 1000));
  word-spacing: 0.1em;
  color: #000006;
  width: auto;
}
.interna section.content h6 span {
  font-size: 0.94em;
  font-weight: 400;
  color: #808080;
  opacity: 0.8;
  line-height: calc(1em + 5 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.2 * ((76vw + 24vh) / 1000));
  display: block;
}
.interna section.content article {
  position: relative;
  z-index: 999;
}
.interna section.content article p {
  font-weight: 200;
  font-size: calc(0.6em + 3 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(0 * ((60vw + 40vh) / 100));
  line-height: calc(1em + 8 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.01 * ((76vw + 24vh) / 1000));
  word-spacing: 0.05em;
  color: #343436;
  width: auto;
}
.interna section.content article p i {
  font-weight: 500;
  color: #dadada rker;
  font-style: normal;
}
.interna section.content article blockquote {
  font-weight: 300;
  font-size: calc(0.6em + 5 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(22.3 * ((60vw + 40vh) / 100));
  height: auto;
  position: relative;
  line-height: calc(1em + 8 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.5 * ((76vw + 24vh) / 1000));
  word-spacing: 0.1em;
  color: #343436;
  margin: 0;
  padding: 0;
}
.interna section.content article blockquote::before {
  content: " ";
  border-left: calc(0.01em + (0 + 1.2) * (55vw + 45vh) / 1000) solid #343436;
  display: flex;
  height: 100%;
  width: 2em;
  position: absolute;
  left: calc(-12 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
}
.interna section.margin {
  margin: calc(1em + (0 + 5) * (55vw + 45vh) / 1000);
  width: 95%;
}
.interna section.half {
  width: 45%;
  display: inline-flex;
}
.interna section.nopadding {
  padding: 0;
}
.interna section.padding {
  padding: calc(1em + (0 + 20) * (55vw + 45vh) / 1000) 0;
}
.interna section.image {
  text-align: center;
}
.interna section.image img {
  height: auto;
  position: relative;
}
.interna section.image img.sketchs {
  width: calc(1em + (460 + 480) * (55vw + 45vh) / 1000);
}
.interna section.image img.img_g {
  width: calc(1em + (410 + 450) * (55vw + 45vh) / 1000);
}
.interna section.image img.bottom_right {
  width: calc(1em + (400 + 450) * (55vw + 45vh) / 1000);
  top: 4vmin;
  left: 16vmin;
  margin: calc(4vmin + (10 + 60) * (55vw + 45vh) / 1000) 0;
}
.interna section.image img.bottom_left {
  width: calc(1em + (500 + 450) * (55vw + 45vh) / 1000);
  top: 14vmin;
  left: -20vmin;
}
.interna section.image img.bottom_center {
  width: calc(1em + (450 + 450) * (55vw + 45vh) / 1000);
  top: 16vmin;
}
.vertical section#intro {
  height: 100vh;
}
.vertical section#intro header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(130 * ((34vw + 66vh) / 1000));
  height: 100%;
}
.vertical section#intro header >label {
  text-align: center;
  font-size: 1.5em;
  position: relative;
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(-100 * ((34vw + 66vh) / 1000));
}
.vertical section#intro header h3,
.vertical section#intro header p {
  font-weight: 400;
  font-size: calc(0.6em + 26 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(0 * ((60vw + 40vh) / 100));
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  text-align: center;
  align-items: center;
}
.vertical section#intro header h3 span,
.vertical section#intro header p span {
  line-height: calc(1em + 18 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 4 * ((76vw + 24vh) / 1000));
  font-weight: 300;
  font-size: calc(0.6em + 32 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(0 * ((60vw + 40vh) / 100));
  position: relative;
  left: 15vw;
  text-align: center;
}
.vertical section#intro header h3 i,
.vertical section#intro header p i {
  float: none;
}
.vertical section#intro header >label,
.vertical section#intro header h3,
.vertical section#intro header p {
  width: calc(1em + (410 + 170) * (55vw + 45vh) / 1000);
}
.vertical section#page1 {
  width: 100%;
  margin: 0;
  padding: 0;
}
.vertical section#page1 header {
  margin: 0;
  padding: 0;
}
.vertical section#page1 header h2 {
  font-weight: 900;
  font-size: calc(0.6em + 230 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(0 * ((60vw + 40vh) / 100));
  width: 100%;
  line-height: calc(1em + -20 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -9 * ((76vw + 24vh) / 1000));
  left: calc(30 * ((80vw + 20vh)  / 1000));
  top: calc(80 * ((34vw + 66vh) / 1000));
}
.vertical section#page1 article {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(0.4em + (400 + 160) * (55vw + 45vh) / 1000);
  left: 0;
}
.vertical section#page1 article p {
  font-weight: 400;
  font-size: calc(0.6em + 10 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(46 * ((60vw + 40vh) / 100));
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(20 * ((34vw + 66vh) / 1000));
  line-height: calc(1em + 15 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 1 * ((76vw + 24vh) / 1000));
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vertical .main {
  margin: 0;
  position: relative;
  display: flex;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vertical .main .cases#pop,
.vertical .main .cases#mars,
.vertical .main .cases#caixa,
.vertical .main .cases#dkids {
  width: calc(100vw - calc(1.2em + 4vw) * 2);
  margin: 0 calc(1.2em + 4vw) calc(1.2em + 4vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vertical .main .cases#pop header,
.vertical .main .cases#mars header,
.vertical .main .cases#caixa header,
.vertical .main .cases#dkids header {
  width: 100%;
  height: 100%;
  overflow: none;
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vertical .main .cases#pop header > div,
.vertical .main .cases#mars header > div,
.vertical .main .cases#caixa header > div,
.vertical .main .cases#dkids header > div {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.vertical .main .cases#pop header label,
.vertical .main .cases#mars header label,
.vertical .main .cases#caixa header label,
.vertical .main .cases#dkids header label {
  font-size: 76vmin;
  top: 10vmin;
}
.vertical .main .cases#pop header h4,
.vertical .main .cases#mars header h4,
.vertical .main .cases#caixa header h4,
.vertical .main .cases#dkids header h4 {
  font-weight: 900;
  font-size: calc(0.6em + 65 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(0 * ((60vw + 40vh) / 100));
  font-weight: 700;
  line-height: calc(1em + 40 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 7 * ((76vw + 24vh) / 1000));
  left: auto;
  top: auto;
  position: relative;
  margin: 0;
  padding: 0;
  text-indent: calc(0.01em + (2 + 2) * (55vw + 45vh) / 1000);
}
.vertical .main .cases#pop header p,
.vertical .main .cases#mars header p,
.vertical .main .cases#caixa header p,
.vertical .main .cases#dkids header p {
  font-weight: 400;
  font-size: calc(0.6em + 23 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(0 * ((60vw + 40vh) / 100));
  width: auto;
  line-height: calc(1em + 12 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 2 * ((76vw + 24vh) / 1000));
  left: auto;
  top: auto;
  position: relative;
  margin: 0;
  padding: 0;
}
.vertical .main .cases#pop header h4,
.vertical .main .cases#mars header h4,
.vertical .main .cases#caixa header h4,
.vertical .main .cases#dkids header h4,
.vertical .main .cases#pop header p,
.vertical .main .cases#mars header p,
.vertical .main .cases#caixa header p,
.vertical .main .cases#dkids header p {
  width: 60%;
  text-align: center;
}
.vertical .main .cases#pop article,
.vertical .main .cases#mars article,
.vertical .main .cases#caixa article,
.vertical .main .cases#dkids article {
  display: none;
}
.vertical .main .cases #pop {
  height: 60vh;
}
.vertical .main .cases #pop header {
  clip: rect(0, 100vw, 60vh, 0);
}
.vertical .main .cases #pop header figure {
  bottom: calc(17vmin + (2 + 40) * (55vw + 45vh) / 1000);
}
.vertical .main .cases #pop article img {
  width: 45vw;
  height: auto;
  top: 140vh;
  left: auto;
  filter: blur(1px);
  opacity: 1;
}
.vertical .main .cases #mars {
  height: 60vh;
}
.vertical .main .cases #mars header {
  clip: rect(0, 100vw, 60vh, 0);
}
.vertical .main .cases #mars header figure {
  bottom: calc(17vmin + (2 + 40) * (55vw + 45vh) / 1000);
}
.vertical .main .cases #mars article img {
  height: 160vh;
  left: -10vmin;
  top: -110vmin;
  filter: blur(1.5px);
  opacity: 0.8;
}
.vertical .main .cases #caixa {
  height: 60vh;
}
.vertical .main .cases #caixa header {
  clip: rect(0, 100vw, 60vh, 0);
}
.vertical .main .cases #caixa header figure {
  bottom: calc(17vmin + (2 + 40) * (55vw + 45vh) / 1000);
}
.vertical .main .cases #caixa article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100vw;
}
.vertical .main .cases #caixa article img {
  width: 95vw;
  height: auto;
  top: 110vh;
  left: auto;
  filter: blur(1px);
  opacity: 1;
}
.vertical .main .cases #dkids {
  height: 60vh;
}
.vertical .main .cases #dkids header {
  clip: rect(0, 100vw, 60vh, 0);
}
.vertical .main .cases #dkids header figure {
  bottom: calc(17vmin + (2 + 40) * (55vw + 45vh) / 1000);
}
.vertical .main .cases #dkids article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100vw;
}
.vertical .main .cases #dkids article img {
  width: 95vw;
  height: auto;
  top: 110vh;
  left: auto;
  filter: blur(1px);
  opacity: 1;
}
.vertical .interna #Scroll-Pack >div nav {
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
}
.vertical .interna #Scroll-Pack >div nav .nav-wap {
  top: 0;
}
.vertical .interna #Scroll-Pack >div nav .nav-wap .logo {
  top: 4vh;
  left: 0;
  position: fixed;
  z-index: 9999;
}
.vertical .interna #Scroll-Pack >div nav .callback .back {
  width: 15vmin;
  z-index: 9999;
}
.vertical .interna.cases#case2 #hero .titulo h3,
.vertical .interna.cases#case3 #hero .titulo h3 {
  font-size: 4em;
}
.vertical .interna.cases#case2#case2 #hero img,
.vertical .interna.cases#case3#case2 #hero img {
  height: calc(65vmin + (10 + 150) * (55vw + 45vh) / 1000);
  right: calc(-27vmin + (0 + 0) * (55vw + 45vh) / 1000);
  bottom: calc(0vmin + (5 + 0) * (55vw + 45vh) / 1000);
}
.vertical .interna.cases#case2#case3 #hero img,
.vertical .interna.cases#case3#case3 #hero img {
  height: calc(65vmin + (10 + 500) * (55vw + 45vh) / 1000);
  right: calc(-18vmin + (0 + 0) * (55vw + 45vh) / 1000);
  bottom: calc(0vmin + (1 + 0) * (55vw + 45vh) / 1000);
}
.vertical .interna.cases#case2#case3 #hero .titulo h3,
.vertical .interna.cases#case3#case3 #hero .titulo h3 {
  margin-top: -0.3em;
}
.vertical .interna.cases .destaque header {
  width: 90%;
  margin: calc(3vmin + (0 + 0) * (55vw + 45vh) / 1000) 0 calc(3vmin + (0 + 0) * (55vw + 45vh) / 1000);
}
.vertical .interna.cases .destaque header h4 {
  width: calc(70vmin + (10 + 50) * (55vw + 45vh) / 1000);
}
.vertical .interna.cases .destaque header label {
  font-size: 0.6em;
}
.vertical .interna.cases .destaque .main-content p {
  width: 75%;
  font-size: 0.84em;
  line-height: calc(1em + 14 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 1 * ((76vw + 24vh) / 1000));
}
.vertical .interna .content,
.vertical .interna .image {
  width: 23vw;
}
.vertical .interna .image.margin {
  margin: 0 calc(0.2em + (0 + 10) * (55vw + 45vh) / 1000);
  width: 90%;
}
.vertical .interna .content header h5,
.vertical .interna .content header h6 {
  width: calc(54vmin + (10 + 50) * (55vw + 45vh) / 1000);
  line-height: calc(1em + 12 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 2 * ((76vw + 24vh) / 1000));
}
.vertical .interna .content header h6 {
  font-size: 0.88em;
}
.vertical .interna .content article {
  width: calc(26vmin + (10 + 150) * (55vw + 45vh) / 1000);
}
.vertical .interna .content article p {
  font-size: 0.8em;
  line-height: calc(1em + 13 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 1 * ((76vw + 24vh) / 1000));
}
.vertical .interna .content article blockquote {
  font-size: 1em;
  line-height: calc(1em + 14 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 2 * ((76vw + 24vh) / 1000));
  width: calc(44vmin + (10 + 50) * (55vw + 45vh) / 1000);
}
.vertical .interna .content article img {
  width: calc(75vmin + (10 + 150) * (55vw + 45vh) / 1000);
  position: relative;
}
.vertical .interna .content article img.img_part {
  height: auto;
  position: relative;
}
.vertical .interna .content article img.img_part.img_g {
  width: calc(75vmin + (10 + 150) * (55vw + 45vh) / 1000);
}
.vertical .interna .content article img.img_part#sketchs {
  width: calc(85vmin + (10 + 150) * (55vw + 45vh) / 1000);
}
.vertical .interna .content article img.img_part.mms_001 {
  width: calc(1em + (380 + 570) * (55vw + 45vh) / 1000);
  left: 13vmin;
  margin: calc(4vmin + (10 + 90) * (55vw + 45vh) / 1000) 0 calc(1vmin + (0 + -3) * (55vw + 45vh) / 1000);
}
.vertical .interna .content article img.img_part.mms_002 {
  width: calc(1em + (240 + 510) * (55vw + 45vh) / 1000);
  left: -16vmin;
  box-shadow: 1px 0px 8vmin -12px rgba(0,0,0,0.1);
  margin: calc(4vmin + (0 + -90) * (55vw + 45vh) / 1000) 0 calc(2vmin + (0 + -60) * (55vw + 45vh) / 1000);
}
.vertical .interna .content article img.img_part.mms_003 {
  width: calc(1em + (500 + 570) * (55vw + 45vh) / 1000);
  left: 30vmin;
  margin: calc(4vmin + (10 + 120) * (55vw + 45vh) / 1000) 0;
  box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.4);
}
.vertical .interna .content article img.img_part.mms_004 {
  margin: calc(4vmin + (0 + 36) * (55vw + 45vh) / 1000) 0;
  width: calc(4vmin + (280 + 240) * (55vw + 45vh) / 1000);
}
.vertical .interna#footer header h3 {
  font-weight: 300;
  font-size: calc(0.6em + 50 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(70 * ((60vw + 40vh) / 100));
  line-height: calc(1em + 3 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 3 * ((76vw + 24vh) / 1000));
}
.vertical .interna#footer article {
  flex-direction: column;
  padding-bottom: 13vh;
}
.vertical .interna#footer article p {
  width: 100%;
}
.vertical .interna#footer article p.right {
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(40 * ((34vw + 66vh) / 1000));
  font-weight: 300;
  font-size: calc(0.6em + -7.5 * ((60vw + 40vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(70 * ((60vw + 40vh) / 100));
  line-height: calc(1em + 23 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 3 * ((76vw + 24vh) / 1000));
}
@-moz-keyframes rect {
  from {
    clip: rect(0, 100vw, 0, 0);
  }
  to {
    clip: rect(0, 100vw, 100%, 0);
  }
}
@-webkit-keyframes rect {
  from {
    clip: rect(0, 100vw, 0, 0);
  }
  to {
    clip: rect(0, 100vw, 100%, 0);
  }
}
@-o-keyframes rect {
  from {
    clip: rect(0, 100vw, 0, 0);
  }
  to {
    clip: rect(0, 100vw, 100%, 0);
  }
}
@keyframes rect {
  from {
    clip: rect(0, 100vw, 0, 0);
  }
  to {
    clip: rect(0, 100vw, 100%, 0);
  }
}
