.darker {
  color: #000006;
}
.red {
  color: #ff053e;
}
.grey {
  color: rgba(0,0,0,0.3);
}
.white {
  color: #fff;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}
body {
  font-size: 16px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .logo {
  position: fixed;
  min-width: 4.2em;
  min-height: 4.2em;
  max-width: 7.56em;
  max-height: 7.56em;
  margin: 0;
  padding: 0;
  left: calc(42 * ((80vw + 20vh)  / 1000));
  top: calc(16 * ((34vw + 66vh) / 1000));
  font-weight: 800;
  font-size: calc(1em + 3.5 * ((76vw + 24vh) / 1000));
  font-family: neue-kabel, sans-serif;
  width: calc(8 * ((86vw + 14vh) / 100));
  text-transform: uppercase;
  line-height: calc(1em + -2.8 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.8 * ((76vw + 24vh) / 1000));
  text-decoration: none;
  opacity: 1;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
body .logo span {
  white-space: pre-line;
  font-weight: 300;
  opacity: 0.8;
  line-height: calc(1em + -2.6 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.8 * ((76vw + 24vh) / 1000));
  left: 0;
  margin-top: 0.05em;
}
.magenta {
  color: #ff2b6a;
}
.white {
  color: #fff;
}
.darker {
  color: #000006;
}
.container > .main {
  align-items: left;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.main.mars,
.main.caixa {
  flex-direction: column;
}
.main.pop {
  display: inline-flex;
  width: 54%;
}
.main.dkids {
  width: 46%;
  display: inline-flex;
}
.main section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main section header {
  margin: 0;
  padding: 0;
}
.main section p {
  font-weight: 500;
  font-size: calc(1em + 5.6 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(40 * ((86vw + 14vh) / 100));
  line-height: calc(1em + 14 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.1 * ((76vw + 24vh) / 1000));
  position: relative;
  margin: 0 0 calc(1em + (0 + 30) * (80vw + 20vh) / 1000);
  word-spacing: 0.08em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.main section p span {
  display: block;
}
.main section p span b {
  font-weight: 300;
  font-size: calc(1em + 0 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(60 * ((86vw + 14vh) / 100));
}
.main section p span a {
  color: #ff2b6a;
  font-weight: 600;
  font-size: calc(1em + 1 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(60 * ((86vw + 14vh) / 100));
  text-decoration: none;
  position: relative;
  cursor: pointer;
  z-index: 9999;
  line-height: calc(1em + 13 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0 * ((76vw + 24vh) / 1000));
  height: 100%;
}
.main section p span a:hover {
  transition-duration: 1s;
  opacity: 0.6;
  position: relative;
}
.main section#intro {
  height: 90vh;
  width: 100vw;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main section#intro header {
  left: calc(180 * ((80vw + 20vh)  / 1000));
  top: calc(360 * ((34vw + 66vh) / 1000));
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.main section#intro header > label {
  position: absolute;
  font-weight: 500;
  font-size: calc(1em + 5 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(60 * ((86vw + 14vh) / 100));
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  line-height: calc(1em + 6 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0 * ((76vw + 24vh) / 1000));
  opacity: 1;
}
.main section#intro header h3,
.main section#intro header p {
  left: calc(180 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  -webkit-font-smoothing: antialiased;
}
.main section#intro header h3 {
  position: relative;
  font-weight: 500;
  font-size: calc(1em + 6 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(70 * ((86vw + 14vh) / 100));
  line-height: calc(1em + 8.2 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.1 * ((76vw + 24vh) / 1000));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  transition: all 800ms cubic-bezier(0, 0.49, 0.85, 0.91) -0.2s;
  opacity: 0;
  word-spacing: 0.06em;
}
.main section#intro header p {
  font-weight: 500;
  font-size: calc(1em + 6 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(40 * ((86vw + 14vh) / 100));
  line-height: calc(1em + 8 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.1 * ((76vw + 24vh) / 1000));
  transition: all 600ms cubic-bezier(0, 0.49, 0.85, 0.91) -0.2s;
  margin: 0;
  padding: 0;
  word-spacing: 0.16em;
  opacity: 0;
}
.main section#page1,
.main section#page2 {
  background-color: #fff;
}
.main section#page1 article p,
.main section#page2 article p {
  transition: all 600ms cubic-bezier(0, 0.49, 0.85, 0.91) -0.2s;
  color: #303031;
}
.main section#page1 article p i,
.main section#page2 article p i {
  font-weight: 600;
  font-style: normal;
  color: #000006;
}
.main section#page1 header h2 {
  transition: all 500ms cubic-bezier(0, 0.49, 0.85, 0.91) -0.2s;
  font-weight: 900;
  font-size: calc(1em + 300 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(106 * ((86vw + 14vh) / 100));
  line-height: calc(1em + -30 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -12 * ((76vw + 24vh) / 1000));
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  margin: calc(0.1em + (0 + 0) * (80vw + 20vh) / 1000) 0 calc(1em + (0 + 0) * (80vw + 20vh) / 1000);
  padding: 0;
  left: calc(60 * ((80vw + 20vh)  / 1000));
  top: calc(140 * ((34vw + 66vh) / 1000));
  white-space: pre-wrap;
}
.main section#page1 header .grape {
  color: #ff053e;
}
.main section#page1 article p {
  font-weight: 500;
  font-size: calc(1em + 6 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(36 * ((86vw + 14vh) / 100));
  left: calc(520 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  line-height: calc(1em + 10 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.1 * ((76vw + 24vh) / 1000));
}
.main section.cases {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main section.cases#mars {
  height: 80vh;
  margin: calc(0.4em + (0 + 12) * (80vw + 20vh) / 1000) calc(0.4em + (0 + 24) * (80vw + 20vh) / 1000);
}
.main section.cases#pop {
  height: 60vh;
  margin: calc(0.4em + (0 + 12) * (80vw + 20vh) / 1000) calc(0.4em + (0 + 12) * (80vw + 20vh) / 1000) calc(0.4em + (0 + 12) * (80vw + 20vh) / 1000) calc(0.4em + (0 + 24) * (80vw + 20vh) / 1000);
}
.main section.cases#dkids {
  height: 60vh;
  margin: calc(0.4em + (0 + 12) * (80vw + 20vh) / 1000) calc(0.4em + (0 + 24) * (80vw + 20vh) / 1000) calc(0.4em + (0 + 12) * (80vw + 20vh) / 1000) calc(0.4em + (0 + 12) * (80vw + 20vh) / 1000);
}
.main section.cases#caixa {
  height: 80vh;
  margin: calc(0.4em + (0 + 12) * (80vw + 20vh) / 1000) calc(0.4em + (0 + 24) * (80vw + 20vh) / 1000) calc(0.4em + (0 + 12) * (80vw + 20vh) / 1000);
}
.main section.cases header,
.main section.cases article {
  position: absolute;
}
.main section.cases header {
  height: 100%;
  width: calc(160 * ((86vw + 14vh) / 100));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  position: absolute;
  z-index: 2;
}
.main section.cases header label {
  font-size: 10vmin;
  font-family: neue-kabel, sans-serif;
  font-weight: 700;
  width: 10vmin;
  top: 20vmin;
  left: 6vmin;
  color: #111116;
  margin: 0;
  padding: 0;
  line-height: 0.6em;
  text-align: center;
  position: fixed;
  text-transform: uppercase;
}
.main section.cases header h3 {
  font-weight: 600;
  font-size: calc(1em + 15 * ((76vw + 24vh) / 1000));
  font-family: neue-kabel, sans-serif;
  width: calc(60 * ((86vw + 14vh) / 100));
  font-size: calc(0.5em + (0 + 2.5) * (80vw + 20vh) / 1000);
  text-align: center;
  width: 10vmin;
  top: 27vmin;
  left: 6.5vmin;
  line-height: calc(1em + 1 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 8 * ((76vw + 24vh) / 1000));
  position: absolute;
  color: #000006;
  text-transform: uppercase;
  color: #ff053e;
}
.main section.cases header h4 {
  font-weight: 700;
  font-size: calc(1em + 20 * ((76vw + 24vh) / 1000));
  font-family: neue-kabel, sans-serif;
  width: calc(30 * ((86vw + 14vh) / 100));
  text-align: center;
  line-height: calc(1em + 116 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.2 * ((76vw + 24vh) / 1000));
  position: absolute;
  top: 40vh;
  color: #000006;
  text-align: left;
  text-transform: lowercase;
}
.main section.cases header p {
  font-weight: 400;
  font-size: calc(1em + 2 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(90 * ((86vw + 14vh) / 100));
  text-align: center;
  line-height: calc(1em + 7 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.14 * ((76vw + 24vh) / 1000));
  position: absolute;
  color: #000006;
  text-align: left;
  white-space: pre-wrap;
}
.main section.cases header figure {
  position: absolute;
  transition: transform 400ms ease-in-out 0.1s;
  margin: 0;
  padding: 0;
}
.main section.cases header figure .jss1 {
  min-width: 1em;
  min-height: 1em;
  max-width: 5.8em;
  max-height: 5.8em;
  margin: 0 0 0 -0.12em;
  width: calc(1em + 10 * ((100vw + 100vh) / 1000));
  height: calc(1em + 5 * ((100vw + 100vh) / 1000));
}
.main section.cases header a.callcase {
  position: absolute;
  opacity: 0;
  z-index: 99999;
  background-color: #ff053e;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main section.cases article {
  width: 100vw;
  margin: 0;
  padding: 0;
  transition: all 500ms ease-in -0.3s;
}
.main section.cases article img {
  position: absolute;
}
.main section.cases.over header p {
  transition: transform ease-in-out 2.1s !important;
  opacity: 0.9 !important;
  text-decoration: underline;
}
.main section.cases.over header h4 {
  opacity: 1;
}
.main section.cases.over header label {
  transform: scale(0.99) !important;
}
.main section.cases.over header figure {
  transform: translateX(3.2vmin) translateY(-0.1vmin) scale(0.8) !important;
  transition: transform 300ms ease-in-out 0.15s;
  opacity: 0.8 !important;
}
.main section.cases#mars header {
  position: absolute;
  animation: 2s 0s cubic-bezier(0.77, 0, 0.175, 1) 1 alternate rect;
}
.main section.cases#mars header h3 {
  color: #000006;
}
.main section.cases#mars header h4 {
  left: calc(90 * ((80vw + 20vh)  / 1000));
  top: calc(190 * ((34vw + 66vh) / 1000));
  margin: 0;
  padding: 0;
}
.main section.cases#mars header h4 small {
  font-size: 0.6em;
  font-weight: 600;
}
.main section.cases#mars header p {
  left: calc(92 * ((80vw + 20vh)  / 1000));
  top: calc(310 * ((34vw + 66vh) / 1000));
  width: calc(1em + (0 + 340) * (80vw + 20vh) / 1000);
}
.main section.cases#mars header figure {
  left: calc(92 * ((80vw + 20vh)  / 1000));
  top: calc(460 * ((34vw + 66vh) / 1000));
}
.main section.cases#mars article img {
  left: calc(280 * ((80vw + 20vh)  / 1000));
  top: calc(-520 * ((34vw + 66vh) / 1000));
  position: absolute;
  height: 152vh;
}
.main section.cases#pop {
  width: 100%;
  height: 60vh;
}
.main section.cases#pop header {
  position: absolute;
}
.main section.cases#pop header h4 {
  left: calc(320 * ((80vw + 20vh)  / 1000));
  top: calc(155 * ((34vw + 66vh) / 1000));
  margin: 0;
  padding: 0;
}
.main section.cases#pop header h4 small {
  font-size: 0.6em;
  font-weight: 600;
}
.main section.cases#pop header p {
  left: calc(320 * ((80vw + 20vh)  / 1000));
  top: calc(280 * ((34vw + 66vh) / 1000));
  width: calc(1em + (0 + 340) * (80vw + 20vh) / 1000);
}
.main section.cases#pop header figure {
  left: calc(320 * ((80vw + 20vh)  / 1000));
  top: calc(440 * ((34vw + 66vh) / 1000));
}
.main section.cases#pop article {
  position: absolute;
  height: 82vh;
}
.main section.cases#pop article img {
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(-260 * ((34vw + 66vh) / 1000));
  position: absolute;
  height: 88vh;
  box-shadow: 1px 0px 9vmin -12px rgba(0,0,0,0.3);
}
.main section.cases#dkids {
  width: 100%;
}
.main section.cases#dkids header {
  position: absolute;
  overflow: hidden;
  animation: 2s 0s cubic-bezier(0.77, 0, 0.175, 1) 1 alternate rect;
}
.main section.cases#dkids header h4 {
  left: calc(30 * ((80vw + 20vh)  / 1000));
  top: calc(10 * ((34vw + 66vh) / 1000));
  margin: 0;
  padding: 0;
}
.main section.cases#dkids header h4 small {
  font-size: 0.6em;
  font-weight: 600;
}
.main section.cases#dkids header p {
  left: calc(30 * ((80vw + 20vh)  / 1000));
  top: calc(130 * ((34vw + 66vh) / 1000));
  width: calc(1em + (0 + 110) * (80vw + 20vh) / 1000);
}
.main section.cases#dkids header figure {
  left: calc(30 * ((80vw + 20vh)  / 1000));
  top: calc(340 * ((34vw + 66vh) / 1000));
}
.main section.cases#dkids article {
  height: 90vh;
}
.main section.cases#dkids article img {
  height: 80vh;
  left: calc(-70 * ((80vw + 20vh)  / 1000));
  top: calc(206 * ((34vw + 66vh) / 1000));
  position: absolute;
}
.main section.cases#caixa header {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 100vw, i, 0);
  animation: 2s 0s cubic-bezier(0.77, 0, 0.175, 1) 1 alternate rect;
}
.main section.cases#caixa header h4 {
  left: calc(70 * ((80vw + 20vh)  / 1000));
  top: calc(60 * ((34vw + 66vh) / 1000));
  margin: 0;
  padding: 0;
}
.main section.cases#caixa header h4 small {
  font-size: 0.6em;
  font-weight: 600;
}
.main section.cases#caixa header p {
  left: calc(70 * ((80vw + 20vh)  / 1000));
  top: calc(180 * ((34vw + 66vh) / 1000));
  width: calc(1em + (0 + 340) * (80vw + 20vh) / 1000);
}
.main section.cases#caixa header figure {
  left: calc(70 * ((80vw + 20vh)  / 1000));
  top: calc(360 * ((34vw + 66vh) / 1000));
}
.main section.cases#caixa article {
  height: 100vh;
}
.main section.cases#caixa article img {
  left: calc(190 * ((80vw + 20vh)  / 1000));
  top: calc(80 * ((34vw + 66vh) / 1000));
  height: 90vh;
  position: absolute;
}
#footer {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e0e10;
  margin: calc(1em + (0 + 60) * (80vw + 20vh) / 1000) 0 0;
  padding: calc(1em + (0 + 60) * (80vw + 20vh) / 1000) 0 calc(1em + (0 + 80) * (80vw + 20vh) / 1000);
}
#footer header,
#footer article {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#footer header {
  display: flex;
  position: relative;
  height: auto;
}
#footer header h3 {
  font-weight: 600;
  font-size: calc(1em + 3 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(0 * ((86vw + 14vh) / 100));
  width: 100%;
  line-height: calc(1em + 19 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.6 * ((76vw + 24vh) / 1000));
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#footer article {
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  position: relative;
  margin: calc(1em + (0 + 20) * (80vw + 20vh) / 1000) 0 0;
}
#footer article p {
  position: relative;
  color: #aaaaab;
  font-weight: 500;
  font-size: calc(1em + 1 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(0 * ((86vw + 14vh) / 100));
  line-height: calc(1em + 8 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.3 * ((76vw + 24vh) / 1000));
  word-spacing: 0.1em;
  width: auto;
  margin: 0;
  padding: 0;
}
#footer article p a {
  line-height: calc(1em + 8 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.1 * ((76vw + 24vh) / 1000));
  font-weight: 600;
  text-decoration: none;
  opacity: 1;
  margin: 0;
  padding: 0;
}
#footer article p a:hover {
  opacity: 0.8;
}
#footer article p.right {
  font-weight: 600;
  font-size: calc(1em + -2 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(0 * ((86vw + 14vh) / 100));
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(100 * ((34vw + 66vh) / 1000));
  line-height: calc(1em + 10 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.5 * ((76vw + 24vh) / 1000));
  position: relative;
  text-align: right;
  color: #000006;
  align-items: flex-end;
  width: auto;
}
#footer article p.right b {
  font-weight: 600;
  font-size: calc(1em + 4 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(80 * ((86vw + 14vh) / 100));
  text-align: right;
  width: auto;
  color: #000006;
}
.interna {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.interna .logo {
  left: calc(50 * ((80vw + 20vh)  / 1000));
  top: calc(120 * ((34vw + 66vh) / 1000));
}
.interna .back {
  z-index: 9999;
  position: fixed;
  width: calc(62 * ((80vw + 20vh) / 1000));
  height: calc(62 * ((80vw + 20vh) / 1000));
  left: 3em;
  margin: 0;
  padding: 0;
}
.interna a {
  left: 0;
  position: relative;
  padding: 0 calc(1em + (0 + 2) * (80vw + 20vh) / 1000);
  margin: 0;
  width: auto;
  height: calc(1em + (0 + 10) * (80vw + 20vh) / 1000);
}
.interna #Scroll-Pack {
  position: absolute;
  z-index: 999;
  height: 100vh;
  top: 0;
  width: 100vw;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.interna #Scroll-Pack >div {
/* position: fixed; */
  top: 0px;
  width: 8em;
  left: 0;
}
.interna #Scroll-Pack >div nav {
  transform: translate(0px, 0vh);
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
}
.interna #Scroll-Pack >div nav .nav-wap {
  position: absolute;
  top: 0;
}
.interna #Scroll-Pack >div nav .nav-wap .logo {
  height: auto;
  opacity: 1;
}
.interna #Scroll-Pack >div nav .callback {
  left: 0;
  position: relative;
  padding: 0 calc(1em + 2 * ((100vw + 100vh) / 2 / 1120));
  margin: 0;
  width: auto;
}
.interna #Scroll-Pack >div nav .callback .back {
  z-index: 9999;
  position: fixed;
  margin: 0;
  padding: 0;
  transition: transform 400ms ease-in-out 0.1s;
}
.interna #Scroll-Pack >div nav .callback .back:hover {
  transform: translateX(-0.8vmin) translateY(0.01vmin) scale(1.1) !important;
  transition: transform 400ms ease-in-out 0.1s;
}
.interna.cases {
  background-color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
}
.interna.cases #hero nav,
.interna.cases.navigation nav {
  z-index: 9999;
  left: calc(10 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.interna.cases #hero nav .nav-wap,
.interna.cases.navigation nav .nav-wap {
  clip: auto;
  top: 0;
  z-index: 9999;
}
.interna.cases #hero nav .nav-wap a,
.interna.cases.navigation nav .nav-wap a {
  text-align: left;
  left: calc(15 * ((80vw + 20vh)  / 1000));
  top: calc(60 * ((34vw + 66vh) / 1000));
  position: relative;
}
.interna.cases #hero nav .nav-wap.callback,
.interna.cases.navigation nav .nav-wap.callback {
  width: calc(1em + 200 * ((100vw + 100vh) / 1000));
  height: calc(1em + 100 * ((100vw + 100vh) / 1000));
  z-index: 9999;
}
.interna.cases #hero {
  height: 100vh;
  width: 100vw;
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip: rect(0, 100vw, 100vh, 0);
  position: absolute;
  z-index: 9;
}
.interna.cases #hero header {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.interna.cases #hero .barra {
  background-color: #fff;
}
.interna.cases #hero .titulo {
  z-index: 9999;
  position: fixed;
  opacity: 0;
  height: auto;
  min-height: 4em;
}
.interna.cases #hero .titulo h3 {
  font-weight: 700;
  font-size: calc(1em + 80 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(100 * ((86vw + 14vh) / 100));
  left: calc(400 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  width: auto;
  line-height: calc(1em + 1 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 3 * ((76vw + 24vh) / 1000));
  margin: 0;
  padding: 0;
  top: auto;
  left: auto;
  text-transform: lowercase;
}
.interna.cases #hero .titulo h3 sub {
  font-size: 0.4em;
  position: relative;
  bottom: 0.6em;
}
.interna.cases #hero img {
  position: fixed;
  opacity: 0;
  width: auto;
}
.interna.cases .destaque {
  position: relative;
  width: 100vw;
  padding: calc(1em + (0 + 70) * (80vw + 20vh) / 1000) 0 calc(1em + (0 + 40) * (80vw + 20vh) / 1000);
  margin: 100vh 0 calc(1em + (0 + 70) * (80vw + 20vh) / 1000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.interna.cases .destaque header,
.interna.cases .destaque article {
  position: relative;
  width: 50vw;
  left: calc(-110 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
}
.interna.cases .destaque header {
  flex-direction: row;
  display: flex;
}
.interna.cases .destaque header .side-content {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.interna.cases .destaque header .side-content label {
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-size: calc(1em + -2 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(100 * ((86vw + 14vh) / 100));
  line-height: calc(1em + 5 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.1 * ((76vw + 24vh) / 1000));
  word-spacing: 0.35em;
}
.interna.cases .destaque header .side-content label.ano {
  font-size: 0.95em;
  line-height: calc(1em + 20 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 1 * ((76vw + 24vh) / 1000));
  font-weight: 400;
  opacity: 1;
}
.interna.cases .destaque header .side-content label.tags {
  opacity: 1;
}
.interna.cases .destaque header .side-content label.url {
  text-transform: lowercase;
}
.interna.cases .destaque header .side-content label.url::before {
  content: '⏤';
  font-size: 0.8em;
  width: 100%;
  height: 100%;
  display: block;
  padding: calc(0.1vmin + (10 + 0) * (80vw + 20vh) / 1000) 0 calc(0.1vmin + (20 + 0) * (80vw + 20vh) / 1000);
}
.interna.cases .destaque header .main-content {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.interna.cases .destaque header .main-content h4,
.interna.cases .destaque header .main-content h5,
.interna.cases .destaque header .main-content h6 {
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  -webkit-font-smoothing: antialiased;
  transition: all 600ms cubic-bezier(0, 0.49, 0.85, 0.91) -0.2s;
  margin: 0;
  padding: 0;
}
.interna.cases .destaque header .main-content h4 {
  font-weight: 500;
  font-size: calc(1em + 12 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(40 * ((86vw + 14vh) / 100));
  word-spacing: 0.1em;
  white-space: pre-line;
  line-height: calc(1em + 5 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.1 * ((76vw + 24vh) / 1000));
}
.interna.cases .destaque header .main-content h5 {
  color: rgba(0,0,0,0.3);
  font-weight: 500;
  font-size: calc(1em + 12 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(40 * ((86vw + 14vh) / 100));
  padding: 0 0 calc(0.1vmin + (30 + 0) * (80vw + 20vh) / 1000);
  line-height: calc(1em + 5 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.1 * ((76vw + 24vh) / 1000));
}
.interna.cases .destaque header .main-content h6 {
  color: #000006;
  font-weight: 500;
  font-size: calc(1em + 0 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(40 * ((86vw + 14vh) / 100));
  padding: calc(0.1vmin + (45 + 0) * (80vw + 20vh) / 1000) 0 calc(0.1vmin + (0 + 0) * (80vw + 20vh) / 1000);
  line-height: calc(1em + 5 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.1 * ((76vw + 24vh) / 1000));
}
.interna.cases .destaque header .main-content p {
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
  font-weight: 200;
  font-size: calc(1em + -0.8 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(28 * ((86vw + 14vh) / 100));
  line-height: calc(1em + 11 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.1 * ((76vw + 24vh) / 1000));
  word-spacing: 0.1em;
  white-space: pre-line;
  color: #343436;
}
.interna.cases .destaque header .main-content p i {
  font-weight: 500;
  color: #dadada rker;
  font-style: normal;
}
.interna.cases .navigation {
  position: absolute;
  clip: rect(100vh, 100vw, auto, 0);
  height: 100%;
}
.interna.cases#pop #hero {
  background-attachment: fixed;
  background-image: radial-gradient(at 40% 20%, #6d63ff 20%, #6613f1 80%);
}
.interna.cases#pop #hero header img {
  position: fixed;
  left: auto;
  height: calc(48vmin + (10 + 600) * (80vw + 20vh) / 1000);
  right: calc(-25vmin + (5 + 60) * (80vw + 20vh) / 1000);
  bottom: calc(-22vmax + (1 + 1) * (80vw + 20vh) / 1000);
  width: auto;
}
.interna.cases#mars #hero {
  background-attachment: fixed;
  background-image: radial-gradient(at 20% 0%, rgba(7,59,163,0) 70%, rgba(232,177,0,0) 8%, #e8b100 109%);
}
.interna.cases#mars #hero header img {
  position: fixed;
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(-50 * ((34vw + 66vh) / 1000));
  height: 110vh;
  width: auto;
}
.interna.cases#caixa #hero {
  background-attachment: fixed;
  background-image: radial-gradient(at 20% 20%, rgba(7,59,163,0) 70%, rgba(31,111,179,0) 58%, #1a76c0 99%);
}
.interna.cases#caixa #hero header img {
  position: fixed;
  left: auto;
  height: calc(44vmin + (10 + 390) * (80vw + 20vh) / 1000);
  right: calc(5vmin + (0 + -32) * (80vw + 20vh) / 1000);
  bottom: calc(-6vmin + (1 + 1) * (80vw + 20vh) / 1000);
  width: auto;
}
.interna.cases#dkids #hero {
  background-attachment: fixed;
}
.interna.cases#dkids #hero header img {
  position: fixed;
  left: auto;
  height: auto;
  bottom: -6%;
  width: 105vw;
}
.interna section.content,
.interna section,
.interna section .image {
  margin: 0;
  position: relative;
  z-index: 3;
  height: auto;
  display: flex;
}
.interna section.content .bxx_margin,
.interna section .bxx_margin,
.interna section .image .bxx_margin {
  margin: calc(1em + (0 + 80) * (80vw + 20vh) / 1000) 0 calc(1em + (0 + 10) * (80vw + 20vh) / 1000);
}
.interna section.content .bx_margin,
.interna section .bx_margin,
.interna section .image .bx_margin {
  margin: calc(1em + (0 + 60) * (80vw + 20vh) / 1000) 0 calc(1em + (0 + 10) * (80vw + 20vh) / 1000);
}
.interna section.content .b_margin,
.interna section .b_margin,
.interna section .image .b_margin {
  margin: calc(1em + (0 + 40) * (80vw + 20vh) / 1000) 0 calc(1em + (0 + 5) * (80vw + 20vh) / 1000);
}
.interna section.content .mx_margin,
.interna section .mx_margin,
.interna section .image .mx_margin {
  margin: calc(1em + (0 + 30) * (80vw + 20vh) / 1000) 0 calc(1em + (0 + 5) * (80vw + 20vh) / 1000);
}
.interna section.content .m_margin,
.interna section .m_margin,
.interna section .image .m_margin {
  margin: calc(1em + (0 + 15) * (80vw + 20vh) / 1000) 0 calc(1em + (0 + 2) * (80vw + 20vh) / 1000);
}
.interna section.content .s_margin,
.interna section .s_margin,
.interna section .image .s_margin {
  margin: calc(1em + (0 + 5) * (80vw + 20vh) / 1000) 0 calc(1em + (0 + 5) * (80vw + 20vh) / 1000);
}
.interna section.content .sx_margin,
.interna section .sx_margin,
.interna section .image .sx_margin {
  margin: calc(1em + (0 + 2) * (80vw + 20vh) / 1000) 0 calc(1em + (0 + 2) * (80vw + 20vh) / 1000);
}
.interna section.image {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.interna section.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.interna section.content header,
.interna section.content article {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 24vw;
}
.interna section.content h5,
.interna section.content h6,
.interna section.content p,
.interna section.content blockquote {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  left: calc(-40 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
}
.interna section.content h5 {
  font-weight: 600;
  font-size: calc(1em + 10 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(0 * ((86vw + 14vh) / 100));
  word-spacing: 0.1em;
  width: auto;
  color: #000006;
  line-height: calc(1em + 6 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.1 * ((76vw + 24vh) / 1000));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.interna section.content h6 {
  font-weight: 500;
  font-size: calc(1em + -0.2 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(0 * ((86vw + 14vh) / 100));
  line-height: calc(1em + 10 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.1 * ((76vw + 24vh) / 1000));
  word-spacing: 0.1em;
  color: #000006;
  width: auto;
}
.interna section.content h6 span {
  font-size: 0.94em;
  font-weight: 400;
  color: #808080;
  opacity: 0.8;
  line-height: calc(1em + 5 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + -0.2 * ((76vw + 24vh) / 1000));
  display: block;
}
.interna section.content article {
  position: relative;
  z-index: 999;
}
.interna section.content article p {
  font-weight: 200;
  font-size: calc(1em + -0.5 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-text, sans-serif;
  width: calc(0 * ((86vw + 14vh) / 100));
  line-height: calc(1em + 8 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.01 * ((76vw + 24vh) / 1000));
  word-spacing: 0.05em;
  color: #343436;
  width: auto;
}
.interna section.content article p i {
  font-weight: 500;
  color: #dadada rker;
  font-style: normal;
}
.interna section.content article blockquote {
  font-weight: 400;
  font-size: calc(1em + 1 * ((76vw + 24vh) / 1000));
  font-family: neue-haas-grotesk-display, sans-serif;
  width: calc(21.3 * ((86vw + 14vh) / 100));
  height: auto;
  position: relative;
  line-height: calc(1em + 8 * ((76vw + 24vh) / 1000));
  letter-spacing: calc(.01em + 0.5 * ((76vw + 24vh) / 1000));
  word-spacing: 0.1em;
  color: #343436;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.interna section.content article blockquote::before {
  content: " ";
  border-left: calc(0.01em + (0 + 1.2) * (80vw + 20vh) / 1000) solid #343436;
  display: flex;
  height: 100%;
  width: 2em;
  position: absolute;
  left: calc(-12 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
}
.interna section.margin {
  margin: calc(1em + (0 + 5) * (80vw + 20vh) / 1000);
  width: 95%;
}
.interna section.half {
  width: 45%;
  display: inline-flex;
}
.interna section.nopadding {
  padding: 0;
}
.interna section.padding {
  padding: calc(1em + (0 + 20) * (80vw + 20vh) / 1000) 0;
}
.interna section.image img {
  height: auto;
  position: relative;
}
.interna section.image img.sketchs {
  width: calc(1em + (460 + 480) * (80vw + 20vh) / 1000);
}
.interna section.image img.img_g {
  width: calc(1em + (410 + 450) * (80vw + 20vh) / 1000);
}
.interna section.image img.bottom_right {
  width: calc(1em + (400 + 450) * (80vw + 20vh) / 1000);
  top: 4vmin;
  left: 16vmin;
  margin: calc(4vmin + (10 + 60) * (80vw + 20vh) / 1000) 0;
}
.interna section.image img.bottom_left {
  width: calc(1em + (500 + 450) * (80vw + 20vh) / 1000);
  top: 14vmin;
  left: -20vmin;
}
.interna section.image img.bottom_center {
  width: calc(1em + (450 + 450) * (80vw + 20vh) / 1000);
  top: 16vmin;
}
.interna section.image img.pop_001 {
  width: calc(1em + (400 + 450) * (80vw + 20vh) / 1000);
  left: calc(175 * ((80vw + 20vh)  / 1000));
  top: calc(48 * ((34vw + 66vh) / 1000));
}
.interna section.image img.pop_002 {
  width: calc(1em + (350 + 420) * (80vw + 20vh) / 1000);
  left: calc(-165 * ((80vw + 20vh)  / 1000));
  top: calc(0 * ((34vw + 66vh) / 1000));
}
.interna section.image img.pop_003 {
  width: calc(1em + (320 + 450) * (80vw + 20vh) / 1000);
  left: calc(146 * ((80vw + 20vh)  / 1000));
  top: calc(-40 * ((34vw + 66vh) / 1000));
  box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.1);
}
.interna section.image img.pop_full {
  width: calc(1em + (180 + 300) * (80vw + 20vh) / 1000);
  box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.1);
}
.interna section.image img.mms_001 {
  width: calc(1em + (400 + 450) * (80vw + 20vh) / 1000);
  left: calc(175 * ((80vw + 20vh)  / 1000));
  top: calc(48 * ((34vw + 66vh) / 1000));
}
.interna section.image img.mms_002 {
  width: calc(1em + (400 + 360) * (80vw + 20vh) / 1000);
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(48 * ((34vw + 66vh) / 1000));
  box-shadow: 1px 0px 8vmin -12px rgba(0,0,0,0.1);
}
.interna section.image img.mms_003 {
  width: calc(1em + (400 + 360) * (80vw + 20vh) / 1000);
  left: calc(0 * ((80vw + 20vh)  / 1000));
  top: calc(-40 * ((34vw + 66vh) / 1000));
  box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.4);
}
.interna section.image img.mms_004 {
  width: calc(1em + (180 + 300) * (80vw + 20vh) / 1000);
  box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.2);
}
.interna section.image img.dkids_001 {
  left: calc(260 * ((80vw + 20vh)  / 1000));
  top: calc(-200 * ((34vw + 66vh) / 1000));
  width: calc(1em + (400 + 540) * (80vw + 20vh) / 1000);
  margin-bottom: calc(1em + (400 + -555) * (80vw + 20vh) / 1000);
}
.interna section.image img.dkids_003 {
  width: calc(1em + (400 + 240) * (80vw + 20vh) / 1000);
}
.interna section.image img.dkids_004 {
  width: calc(1em + (400 + 360) * (80vw + 20vh) / 1000);
  margin: calc(1em + (0 + 10) * (80vw + 20vh) / 1000) 0;
}
.interna section.image img.dkids_005 {
  width: calc(1em + (400 + 360) * (80vw + 20vh) / 1000);
  box-shadow: 1px 0px 5vmin -12px rgba(0,0,0,0.2);
  margin: calc(1em + (0 + 20) * (80vw + 20vh) / 1000) 0;
}
.interna section.image img.dkids_full {
  width: calc(1em + (180 + 300) * (80vw + 20vh) / 1000);
}
.interna section.image img.caixa_001 {
  width: calc(1em + (400 + 450) * (80vw + 20vh) / 1000);
  left: calc(175 * ((80vw + 20vh)  / 1000));
  top: calc(48 * ((34vw + 66vh) / 1000));
}
.interna section.image img.caixa_003 {
  width: calc(1em + (180 + 300) * (80vw + 20vh) / 1000);
}
.interna section.image img.caixa_005 {
  width: calc(1em + (180 + 300) * (80vw + 20vh) / 1000);
}
.interna section.image img.caixa_006 {
  width: calc(1em + (180 + 510) * (80vw + 20vh) / 1000);
}
.interna section.image img.caixa_full {
  width: calc(1em + (180 + 150) * (80vw + 20vh) / 1000);
}
@media screen and (orientation: portrait) {
  section#intro {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  section#intro header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
  }
  section#intro header label {
    width: 100vw;
    text-align: center;
    font-size: 2em;
    top: 0;
    left: 0;
  }
  section#intro header h3 {
    font-weight: 300;
    font-size: calc(1em + 52 * ((76vw + 24vh) / 1000));
    font-family: neue-haas-grotesk-display, sans-serif;
    width: calc(86 * ((86vw + 14vh) / 100));
    width: 100vw;
    left: calc(0 * ((80vw + 20vh)  / 1000));
    top: calc(-40 * ((34vw + 66vh) / 1000));
    text-align: center;
    white-space: wrap-line;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section#intro header h3 span {
    line-height: calc(1em + 18 * ((76vw + 24vh) / 1000));
    letter-spacing: calc(.01em + 4 * ((76vw + 24vh) / 1000));
    position: relative;
    left: 15vw;
    text-align: center;
    white-space: wrap-line;
  }
  section#page1 article,
  section#page2 article {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
  }
  section#page1 article p,
  section#page2 article p {
    position: relative;
    font-weight: 500;
    font-size: calc(1em + 1 * ((76vw + 24vh) / 1000));
    font-family: neue-haas-grotesk-display, sans-serif;
    width: calc(60 * ((86vw + 14vh) / 100));
    line-height: calc(1em + 20 * ((76vw + 24vh) / 1000));
    letter-spacing: calc(.01em + 3.2 * ((76vw + 24vh) / 1000));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section#page1 header h2 {
    font-weight: 900;
    font-size: calc(1em + 230 * ((76vw + 24vh) / 1000));
    font-family: neue-haas-grotesk-display, sans-serif;
    width: calc(85 * ((86vw + 14vh) / 100));
    line-height: calc(1em + -20 * ((76vw + 24vh) / 1000));
    letter-spacing: calc(.01em + -9 * ((76vw + 24vh) / 1000));
    left: calc(30 * ((80vw + 20vh)  / 1000));
    top: calc(80 * ((34vw + 66vh) / 1000));
  }
  section#page1 article p {
    left: calc(0 * ((80vw + 20vh)  / 1000));
    top: calc(140 * ((34vw + 66vh) / 1000));
    width: 70vw;
    text-align: center;
  }
  section#page2 header h2 {
    font-weight: 900;
    font-size: calc(1em + 175 * ((76vw + 24vh) / 1000));
    font-family: neue-haas-grotesk-display, sans-serif;
    width: calc(85 * ((86vw + 14vh) / 100));
    left: calc(-30 * ((80vw + 20vh)  / 1000));
    top: calc(110 * ((34vw + 66vh) / 1000));
  }
  section#page2 article {
    height: auto;
  }
  section#page2 article * {
    text-align: center;
  }
  section#page2 article p {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: calc(1em + 18 * ((76vw + 24vh) / 1000));
    letter-spacing: calc(.01em + 4 * ((76vw + 24vh) / 1000));
    align-items: center;
    width: 100vw;
    height: auto;
    border: 0px;
  }
  section#page2 article p span {
    padding: calc(1em + 25 * ((100vmin) / 100)) 0;
    font-weight: 500;
    font-size: calc(1em + 2.8 * ((76vw + 24vh) / 1000));
    font-family: neue-haas-grotesk-display, sans-serif;
    width: calc(70 * ((86vw + 14vh) / 100));
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section.cases header .logo {
    position: fixed;
    width: calc(1em + 20 * ((100vw + 100vh) / 1000));
    height: calc(1em + 20 * ((100vw + 100vh) / 1000));
    min-width: 3.2em;
    min-height: 3.2em;
    max-width: 5.760000000000001em;
    max-height: 5.760000000000001em;
    left: calc(5 * ((80vw + 20vh)  / 1000));
    top: calc(10 * ((34vw + 66vh) / 1000));
    font-weight: 600;
    font-size: calc(1em + 4 * ((76vw + 24vh) / 1000));
    font-family: neue-haas-grotesk-display, sans-serif;
    width: calc(86 * ((86vw + 14vh) / 100));
  }
  section.cases header .logo span {
    opacity: 0.8;
  }
  section.cases#pop,
  section.cases#mars,
  section.cases#caixa,
  section.cases#dkids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  section.cases#pop header label,
  section.cases#mars header label,
  section.cases#caixa header label,
  section.cases#dkids header label {
    font-size: 76vmin;
    top: 10vmin;
  }
  section.cases#pop header *,
  section.cases#mars header *,
  section.cases#caixa header *,
  section.cases#dkids header * {
    z-index: 1;
    text-align: center;
  }
  section.cases#pop header .logo,
  section.cases#mars header .logo,
  section.cases#caixa header .logo,
  section.cases#dkids header .logo,
  section.cases#pop header span,
  section.cases#mars header span,
  section.cases#caixa header span,
  section.cases#dkids header span {
    text-align: left;
  }
  section.cases#pop header h3,
  section.cases#mars header h3,
  section.cases#caixa header h3,
  section.cases#dkids header h3 {
    font-size: 0.7em;
  }
  section.cases#pop header h4,
  section.cases#mars header h4,
  section.cases#caixa header h4,
  section.cases#dkids header h4 {
    font-size: 22vmin;
    width: 100vw;
    left: 0;
    font-weight: 700;
  }
  section.cases#pop header p,
  section.cases#mars header p,
  section.cases#caixa header p,
  section.cases#dkids header p {
    left: 0;
    line-height: calc(1em + 12 * ((76vw + 24vh) / 1000));
    letter-spacing: calc(.01em + 2 * ((76vw + 24vh) / 1000));
    font-weight: 500;
    width: 100vw;
  }
  section.cases#pop header .callcase,
  section.cases#mars header .callcase,
  section.cases#caixa header .callcase,
  section.cases#dkids header .callcase {
    width: calc(1em + 360 * ((100vw + 100vh) / 1000));
    height: calc(1em + 350 * ((100vw + 100vh) / 1000));
    left: 0;
    bottom: calc(17vmin + (2 + -50) * (80vw + 20vh) / 1000);
  }
  section.cases#pop header figure,
  section.cases#mars header figure,
  section.cases#caixa header figure,
  section.cases#dkids header figure {
    left: 40vmin;
  }
  section.cases#pop header figure .jss1,
  section.cases#mars header figure .jss1,
  section.cases#caixa header figure .jss1,
  section.cases#dkids header figure .jss1 {
    width: 5em;
  }
  section.cases#pop article,
  section.cases#mars article,
  section.cases#caixa article,
  section.cases#dkids article {
    z-index: 0;
    transform: translate(0, 0) !important;
  }
  section.cases#pop article img,
  section.cases#mars article img,
  section.cases#caixa article img,
  section.cases#dkids article img {
    top: 0vh;
  }
  section.cases#pop {
    height: 150vh;
  }
  section.cases#pop header {
    clip: rect(0, 100vw, 150vh, 0);
  }
  section.cases#pop header h3 {
    top: 30vmin;
  }
  section.cases#pop header h4 {
    left: 0;
    bottom: calc(17vmin + (2 + 315) * (80vw + 20vh) / 1000);
  }
  section.cases#pop header p {
    left: 0;
    bottom: calc(17vmin + (2 + 200) * (80vw + 20vh) / 1000);
  }
  section.cases#pop header figure {
    bottom: calc(17vmin + (2 + 40) * (80vw + 20vh) / 1000);
  }
  section.cases#pop article img {
    width: 45vw;
    height: auto;
    top: 140vh;
    left: auto;
    filter: blur(1px);
    opacity: 1;
  }
  section.cases#mars {
    height: 150vh;
  }
  section.cases#mars header {
    clip: rect(0, 100vw, 150vh, 0);
  }
  section.cases#mars header h4 {
    left: 0;
    bottom: calc(17vmin + (2 + 315) * (80vw + 20vh) / 1000);
  }
  section.cases#mars header p {
    left: 0;
    bottom: calc(17vmin + (2 + 200) * (80vw + 20vh) / 1000);
  }
  section.cases#mars header figure {
    bottom: calc(17vmin + (2 + 40) * (80vw + 20vh) / 1000);
  }
  section.cases#mars article img {
    height: 160vh;
    left: -10vmin;
    top: -110vmin;
    filter: blur(1.5px);
    opacity: 0.8;
  }
  section.cases#caixa {
    height: 150vh;
  }
  section.cases#caixa header {
    clip: rect(0, 100vw, 150vh, 0);
  }
  section.cases#caixa header h3 {
    top: 30vmin;
  }
  section.cases#caixa header h4 {
    left: 0;
    bottom: calc(17vmin + (2 + 315) * (80vw + 20vh) / 1000);
  }
  section.cases#caixa header p {
    left: 0;
    bottom: calc(17vmin + (2 + 200) * (80vw + 20vh) / 1000);
  }
  section.cases#caixa header figure {
    bottom: calc(17vmin + (2 + 40) * (80vw + 20vh) / 1000);
  }
  section.cases#caixa article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  section.cases#caixa article img {
    width: 95vw;
    height: auto;
    top: 110vh;
    left: auto;
    filter: blur(1px);
    opacity: 1;
  }
  section.cases#dkids {
    height: 150vh;
  }
  section.cases#dkids header {
    clip: rect(0, 100vw, 150vh, 0);
  }
  section.cases#dkids header h3 {
    top: 30vmin;
  }
  section.cases#dkids header h4 {
    left: 0;
    bottom: calc(17vmin + (2 + 315) * (80vw + 20vh) / 1000);
  }
  section.cases#dkids header p {
    left: 0;
    bottom: calc(17vmin + (2 + 200) * (80vw + 20vh) / 1000);
  }
  section.cases#dkids header figure {
    bottom: calc(17vmin + (2 + 40) * (80vw + 20vh) / 1000);
  }
  section.cases#dkids article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  section.cases#dkids article img {
    width: 95vw;
    height: auto;
    top: 110vh;
    left: auto;
    filter: blur(1px);
    opacity: 1;
  }
  .interna #Scroll-Pack >div nav {
    left: calc(0 * ((80vw + 20vh)  / 1000));
    top: calc(0 * ((34vw + 66vh) / 1000));
  }
  .interna #Scroll-Pack >div nav .nav-wap {
    top: 0;
  }
  .interna #Scroll-Pack >div nav .nav-wap .logo {
    top: 4vh;
    left: 0;
    position: fixed;
  }
  .interna #Scroll-Pack >div nav .callback .back {
    width: 15vmin;
  }
  .interna.cases#case2 #hero .titulo h3,
  .interna.cases#case3 #hero .titulo h3 {
    font-size: 4em;
  }
  .interna.cases#case2#case2 #hero img,
  .interna.cases#case3#case2 #hero img {
    height: calc(65vmin + (10 + 150) * (80vw + 20vh) / 1000);
    right: calc(-27vmin + (0 + 0) * (80vw + 20vh) / 1000);
    bottom: calc(0vmin + (5 + 0) * (80vw + 20vh) / 1000);
  }
  .interna.cases#case2#case3 #hero img,
  .interna.cases#case3#case3 #hero img {
    height: calc(65vmin + (10 + 500) * (80vw + 20vh) / 1000);
    right: calc(-18vmin + (0 + 0) * (80vw + 20vh) / 1000);
    bottom: calc(0vmin + (1 + 0) * (80vw + 20vh) / 1000);
  }
  .interna.cases#case2#case3 #hero .titulo h3,
  .interna.cases#case3#case3 #hero .titulo h3 {
    margin-top: -0.3em;
  }
  .interna.cases .destaque {
    padding: calc(20vmin + (0 + 0) * (80vw + 20vh) / 1000) 0;
  }
  .interna.cases .destaque header h4 {
    width: calc(70vmin + (10 + 50) * (80vw + 20vh) / 1000);
    margin: calc(3vmin + (0 + 0) * (80vw + 20vh) / 1000) 0 calc(3vmin + (0 + 0) * (80vw + 20vh) / 1000);
  }
  .interna.cases .destaque article p {
    width: calc(70vmin + (10 + 50) * (80vw + 20vh) / 1000);
    font-size: 4vmin;
    line-height: calc(1em + 14 * ((76vw + 24vh) / 1000));
    letter-spacing: calc(.01em + 1 * ((76vw + 24vh) / 1000));
  }
  .interna .content header h5,
  .interna .content header h6 {
    width: calc(54vmin + (10 + 50) * (80vw + 20vh) / 1000);
    line-height: calc(1em + 102 * ((76vw + 24vh) / 1000));
    letter-spacing: calc(.01em + 2 * ((76vw + 24vh) / 1000));
  }
  .interna .content article p {
    font-size: 0.96em;
    width: calc(54vmin + (10 + 50) * (80vw + 20vh) / 1000);
    line-height: calc(1em + 14 * ((76vw + 24vh) / 1000));
    letter-spacing: calc(.01em + 1 * ((76vw + 24vh) / 1000));
  }
  .interna .content article blockquote {
    margin-top: calc(5vmin + (0 + 0) * (80vw + 20vh) / 1000);
    font-size: 1.1em;
    left: 0;
    line-height: calc(1em + 14 * ((76vw + 24vh) / 1000));
    letter-spacing: calc(.01em + 2 * ((76vw + 24vh) / 1000));
  }
  .interna .content article img {
    width: calc(75vmin + (10 + 150) * (80vw + 20vh) / 1000);
    position: relative;
  }
  .interna .content article img.img_part {
    height: auto;
    position: relative;
  }
  .interna .content article img.img_part.img_g {
    width: calc(75vmin + (10 + 150) * (80vw + 20vh) / 1000);
  }
  .interna .content article img.img_part#sketchs {
    width: calc(85vmin + (10 + 150) * (80vw + 20vh) / 1000);
  }
  .interna .content article img.img_part.mms_001 {
    width: calc(1em + (380 + 570) * (80vw + 20vh) / 1000);
    left: 13vmin;
    margin: calc(4vmin + (10 + 90) * (80vw + 20vh) / 1000) 0 calc(1vmin + (0 + -3) * (80vw + 20vh) / 1000);
  }
  .interna .content article img.img_part.mms_002 {
    width: calc(1em + (240 + 510) * (80vw + 20vh) / 1000);
    left: -16vmin;
    box-shadow: 1px 0px 8vmin -12px rgba(0,0,0,0.1);
    margin: calc(4vmin + (0 + -90) * (80vw + 20vh) / 1000) 0 calc(2vmin + (0 + -60) * (80vw + 20vh) / 1000);
  }
  .interna .content article img.img_part.mms_003 {
    width: calc(1em + (500 + 570) * (80vw + 20vh) / 1000);
    left: 30vmin;
    margin: calc(4vmin + (10 + 120) * (80vw + 20vh) / 1000) 0;
    box-shadow: 1px 0px 10vmin -12px rgba(0,0,0,0.4);
  }
  .interna .content article img.img_part.mms_004 {
    margin: calc(4vmin + (0 + 36) * (80vw + 20vh) / 1000) 0;
    width: calc(4vmin + (280 + 240) * (80vw + 20vh) / 1000);
  }
  .interna#footer header h3 {
    font-weight: 300;
    font-size: calc(1em + 50 * ((76vw + 24vh) / 1000));
    font-family: neue-haas-grotesk-display, sans-serif;
    width: calc(70 * ((86vw + 14vh) / 100));
    line-height: calc(1em + 3 * ((76vw + 24vh) / 1000));
    letter-spacing: calc(.01em + 3 * ((76vw + 24vh) / 1000));
  }
  .interna#footer article {
    flex-direction: column;
    padding-bottom: 13vh;
  }
  .interna#footer article p {
    width: 100%;
  }
  .interna#footer article p.right {
    left: calc(0 * ((80vw + 20vh)  / 1000));
    top: calc(40 * ((34vw + 66vh) / 1000));
    font-weight: 300;
    font-size: calc(1em + -7.5 * ((76vw + 24vh) / 1000));
    font-family: neue-haas-grotesk-text, sans-serif;
    width: calc(70 * ((86vw + 14vh) / 100));
    line-height: calc(1em + 23 * ((76vw + 24vh) / 1000));
    letter-spacing: calc(.01em + 3 * ((76vw + 24vh) / 1000));
  }
}
@-moz-keyframes rect {
  from {
    clip: rect(0, 100vw, 0, 0);
  }
  to {
    clip: rect(0, 100vw, 100%, 0);
  }
}
@-webkit-keyframes rect {
  from {
    clip: rect(0, 100vw, 0, 0);
  }
  to {
    clip: rect(0, 100vw, 100%, 0);
  }
}
@-o-keyframes rect {
  from {
    clip: rect(0, 100vw, 0, 0);
  }
  to {
    clip: rect(0, 100vw, 100%, 0);
  }
}
@keyframes rect {
  from {
    clip: rect(0, 100vw, 0, 0);
  }
  to {
    clip: rect(0, 100vw, 100%, 0);
  }
}
