@font-face {
  font-family: 'colabmed';
  src: url("fonts/colabmed.ttf");
  src: url("fonts/colabmed.woff") format('woff'), url("fonts/colabmed.woff2") format('woff2');
}
:root {
  --white: #fff;
  --grey: rgba(241,244,248,0.69);
  --dark-grey: #6b7c93;
  --green: #24b47e;
  --teal: #4f96ce;
  --blue: #6772e5;
  --dark-blue: #4f3ef5;
  --spacer: 28px;
}
html,
body {
  margin: 0;
  padding: 0;
}
html width 100%,
body width 100% {
  height: 100%;
  min-height: 100%;
}
html {
  height: 100%;
}
body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  overflow-x: hidden;
  overflow-y: auto;
/* Support for all WebKit browsers. */
  -webkit-font-smoothing: auto;
/* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
/* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #000;
}
a:hover {
  color: #f00;
}
body {
  margin: 0;
}
p {
  margin: 0;
}
.fade-enter,
.fade-leave,
.fade-appear {
  animation-duration: 15s;
}
.fade-enter {
  opacity: 0;
  animation-duration: 15s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.fade-appear {
  opacity: 0;
  animation-duration: 15s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.fade-leave {
  animation-duration: 15s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.fade-enter.fade-enter-active {
  animation-play-state: running;
}
.fade-appear.fade-appear-active {
  animation-play-state: running;
}
.fade-leave.fade-leave-active {
  animation-play-state: running;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.logo {
  height: 58px;
  font-size: calc(10px + 5 * ((100vw + 100vh) / 2 / 1120));
  font-weight: 500;
  letter-spacing: 0.05vw;
  line-height: 56px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 0 calc(1em + 2vw);
  position: fixed;
  top: 0;
  left: 10vw;
}
.nav {
  top: 0;
  left: 10vw;
  position: fixed;
  z-index: 9;
  opacity: 0;
}
.nav .nav-wap {
  float: right;
  padding-right: 200px;
}
.nav .nav-list {
  width: 100px;
  float: left;
  line-height: 58px;
  text-align: center;
  cursor: pointer;
  visibility: hidden;
}
.nav .logo {
  visibility: visible;
}
.nav .nav-bar {
  width: 100px;
  position: fixed;
  top: 58px;
  left: 0;
  height: 2px;
  transition: left 0.3s;
}
#page0 {
  height: 100vh;
}
#page0 h1 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-size: calc(4.5em + 200 * ((100vw + 100vh) / 2 / 1120));
  width: 120vw;
  letter-spacing: calc(-14.5 * ((100vw + 100vh) / 2 / 1120));
  left: calc(0.01em + 80 * ((100vw + 100vh) / 2 / 1120));
  text-indent: 1vw;
  height: calc(0.01em + 520 * ((100vw + 100vh) / 2 / 1120));
}
#page0 h2.intro {
  font-family: neue-haas-grotesk-display, sans-serif;
  letter-spacing: 0.01em;
  margin: 0;
  font-weight: 500;
  font-style: normal;
  font-size: calc(0.48em + 38 * (100vh / 1120));
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(0.01em + 180 * ((100vw + 100vh) / 2 / 1120));
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: calc(0.5em + 2 * ((100vw + 100vh) / 2 / 1120));
  left: calc(0.01em + 190 * ((100vw + 100vh) / 2 / 1120));
  top: calc(0.01em + 570 * ((100vw + 100vh) / 2 / 1120));
}
#page0 div {
  text-align: left;
  font-style: normal;
  line-height: calc(1em + 8 * ((100vw + 100vh) / 2 / 1120));
  padding: 0;
  white-space: pre-wrap;
  -webkit-font-smoothing: antialiased;
}
#page0 a {
  width: 10vw;
  height: 40px;
  text-decoration: none;
  font-weight: 700;
  color: #c73953;
  font-size: 1.1em;
}
.container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}
.container .pack-page {
  z-index: 6;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: revert;
}
.container .pack-page .tween-one {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  -webkit-transform: translateZ(0);
  top: 0;
}
.container .pack-page .ver_mais {
  display: none;
}
.container .pack-page.active {
  z-index: 8;
}
.container .pack-page.active .ver_mais {
  display: flex;
  width: calc(180 * ((100vw + 100vh) / 2 / 1120));
  height: calc(150 * ((100vw + 100vh) / 2 / 1120));
  margin: calc(538 * (((100vw + 100vh) / 2) / 1120)) 0 0 calc(0.5em + 290 * (((100vw + 100vh) / 2) / 1120));
}
.container .pack-page.active .ver_mais i {
  font-size: calc(1em + 40 * (((100vw + 100vh) / 2) / 1120));
}
.tween {
  left: 10vw;
  width: 100vw;
  flex-direction: column;
  top: 0;
  text-align: left;
  justify-items: flex-start;
  align-items: flex-start;
  height: 120vh;
}
.dialog .tween-one {
  text-align: left;
  position: relative;
  z-index: 10;
}
.dialog .rc-collapse {
  display: flex;
  position: absolute;
  background-color: transparent;
  border: none;
}
h1 {
  font-family: neue-kabel, sans-serif;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  font-size: calc(4.5em + 520 * ((100vw + 100vh) / 2 / 1120));
  margin: 0;
  padding: 0;
  line-height: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: flex-end;
  align-self: center;
  align-items: flex-start;
  height: calc(0.01em + 440 * ((100vw + 100vh) / 2 / 1120));
}
.cabecalho label {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: calc(0.5em + 3 * ((100vw + 100vh) / 2 / 1120));
  letter-spacing: 0.21vw;
  line-height: calc(1.2em + 4 * ((100vw + 100vh) / 2 / 1120));
  text-transform: uppercase;
  color: #555556;
  width: calc(231 * ((100vw + 100vh) / 2 / 1120));
  height: calc(0.5em + 0 * ((100vw + 100vh) / 2 / 1120));
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(0.5em + 370 * ((100vw + 100vh) / 2 / 1120));
  margin-left: calc(-0.5em - 31 * 100vw / 1120);
  flex-wrap: nowrap;
  -webkit-font-smoothing: antialiased;
}
.cabecalho h2 {
  font-family: neue-neue-kabel, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  font-size: calc(1em + 37 * ((100vw + 100vh) / 2 / 1120));
  line-height: calc(0.5em + 35 * ((100vw + 100vh) / 2 / 1120));
  letter-spacing: -0.01em;
  padding: 0;
  width: calc(3em + 234 * ((100vw + 100vh) / 2 / 1120));
  margin: 0 0 calc(0.1em + 40 * ((100vw + 100vh) / 2 / 1120)) calc(0.3em + 300 * ((100vw + 100vh) / 2 / 1120));
  height: calc(0.3em + 50 * ((100vw + 100vh) / 2 / 1120));
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: calc(0.3em + 400 * ((100vw + 100vh) / 2 / 1120));
  -webkit-font-smoothing: auto;
  white-space: pre-wrap;
}
.cabecalho div.descricao {
  text-align: left;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222223;
  font-size: calc(0.8em + 3 * ((100vw + 100vh) / 2 / 1120));
  letter-spacing: 0.03vw;
  line-height: calc(1.2em + 4 * ((100vw + 100vh) / 2 / 1120));
  padding: 0;
  width: calc(3em + 374 * ((100vw + 100vh) / 2 / 1120));
  margin-left: calc(1em + 350 * ((100vw + 100vh) / 2 / 1120));
  margin-top: calc(0.3em + 120 * ((100vw + 100vh) / 2 / 1120));
  white-space: pre-wrap;
  -webkit-font-smoothing: antialiased;
}
.cabecalho .button {
  left: 0em;
  width: 200px;
  height: 30px;
  position: relative !important;
  flex-direction: column;
  justify-content: space-between;
}
.cabecalho button {
  padding: 0;
  font-weight: 600;
  justify-self: center;
}
.cabecalho button:hover {
  background: #000;
}
.cabecalho a {
  text-align: left;
  font-size: calc(0.7em + 3 * ((100vw + 100vh) / 2 / 1120));
  text-transform: none;
  letter-spacing: 0.05vw;
  line-height: calc(1.2em + 4 * ((100vw + 100vh) / 2 / 1120));
  font-weight: 600;
  color: #000;
  left: 0px;
  position: relative;
  margin-top: 1em;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 99999;
}
#dialog {
  background-color: transparent;
}
#dialog div section {
  background-color: transparent;
}
#dialog div section div {
  background: transparent;
  margin: 0;
}
.demo-content {
  margin: 0 auto;
  width: 600px;
  height: 180px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.demo-content2 {
  margin: 0 auto;
  width: 600px;
  height: 180px;
  margin-top: 30px;
  border-radius: 4px;
}
.page-title p {
  font-size: 60px;
}
.page-description {
  padding-top: 20px;
}
.page-description p {
  font-size: 18px;
}
.parallax-shape {
  line-height: 120px;
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 24px;
}
#main {
  padding: 0;
}
#main .demo {
  padding: 0;
}
.navbar {
  display: none !important;
}
.ver_mais {
  transform: 'translateY(100px)';
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  font-size: 44px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
/* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
/* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
/* Support for IE. */
  font-feature-settings: 'liga';
}
.ver_mais {
  font-size: calc(1em + 35 * ((100vw + 100vh) / 2 / 1120));
}
