:root {
  --white: #fff;
  --grey: rgba(241,244,248,0.69);
  --dark-grey: #6b7c93;
  --green: #24b47e;
  --teal: #4f96ce;
  --blue: #6772e5;
  --dark-blue: #4f3ef5;
  --spacer: 28px;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html {
  height: 100%;
}
body {
  font-family: work-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  transform-style: preserve-3d;
}
a {
  color: #000;
}
a:hover {
  color: #f00;
}
section {
  height: 100vh;
  width: 100vw;
}
.container {
  scroll-snap-type: y mandatory;
  height: 100%;
  overflow: scroll;
}
.container h1 {
  transform: translateY(-50%);
  height: 100vh;
  position: fixed;
}
html {
  font-family: 'PingFang SC';
}
body {
  margin: 0;
}
body h1:first-child {
  display: none;
}
h1 {
  margin: 13px;
}
p {
  margin: 0;
}
.fade-enter,
.fade-leave,
.fade-appear {
  animation-duration: 15s;
}
.fade-enter {
  opacity: 0;
  animation-duration: 15s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.fade-appear {
  opacity: 0;
  animation-duration: 15s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.fade-leave {
  animation-duration: 15s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.fade-enter.fade-enter-active {
  animation-play-state: running;
}
.fade-appear.fade-appear-active {
  animation-play-state: running;
}
.fade-leave.fade-leave-active {
  animation-play-state: running;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.logo {
  height: 58px;
  font-size: calc(10px + 5 * ((100vw + 100vh) / 2 / 1120));
  font-weight: 500;
  letter-spacing: 0.05vw;
  line-height: 56px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 0 calc(1em + 2vw);
  position: fixed;
  top: 0;
  left: 10vw;
}
.nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  left: 10vw;
  position: fixed;
}
.nav .nav-wap {
  float: right;
  padding-right: 200px;
}
.nav .nav-list {
  width: 100px;
  float: left;
  line-height: 58px;
  text-align: center;
  cursor: pointer;
  visibility: hidden;
}
.nav .logo {
  visibility: visible;
}
.nav .nav-bar {
  width: 100px;
  position: absolute;
  top: 58px;
  left: 0;
  height: 2px;
  transition: left 0.3s;
}
#page1,
#page2,
#page3,
#page4,
#page5,
#page6 {
  margin: 0 auto;
  position: relative;
  height: 100vh;
  display: flex;
  text-align: center;
  overflow: hidden;
  height: 100vh;
}
#page0 {
  z-index: 9;
}
.page1,
.page2,
.page3,
.home-title {
  position: relative;
}
span {
  position: relative;
}
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  height: 0;
  left: 10vw;
  top: calc(((100vw + 100vh) / 2 / 2.2));
  z-index: 99 !important;
}
.intro div {
  color: #323437;
  font-size: calc(12px + 6 * ((100vw + 100vh) / 2 / 1120));
  font-weight: 500;
  line-height: calc(15px + 8 * ((100vw + 100vh) / 2 / 1120));
}
.intro a {
  width: 10vw;
  height: 40px;
  text-decoration: none;
  font-weight: 700;
  color: #c73953;
  font-size: 1.1em;
}
.container .pack-page {
  position: relative;
  display: flex;
  min-height: 100vh;
}
.container .pack-page .tween-one {
  position: fixed;
}
.tween {
  width: auto;
  height: auto;
  left: 10vw;
}
.tween button {
  padding: 1px;
}
.tween-one {
  overflow-y: auto;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  opacity: 1;
  text-align: left;
  justify-items: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 4em;
  left: 10vw;
}
.tween-one div {
  text-align: left;
  font-size: calc(12px + 10 * ((100vw + 100vh) / 2 / 1120));
  line-height: calc(20px + 10 * ((100vw + 100vh) / 2 / 1120));
}
.tween-one .rc-collapse {
  display: flex;
  position: absolute;
  background-color: transparent;
  border: none;
}
#anchor1,
#anchor2,
#anchor3 {
  background-color: transparent;
}
div:nth-child(1) {
  background-color: transparent;
  box-shadow: none;
  outline: 10;
}
div:nth-child(1) div {
  background-color: transparent;
}
div:nth-child(1) div div {
  background: transparent;
}
.tween-one h2 {
  text-align: left;
  font-size: calc(20px + 40 * ((100vw + 100vh) / 2 / 1120));
}
.demo-content {
  margin: 0 auto;
  width: 600px;
  height: 180px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.demo-content2 {
  margin: 0 auto;
  width: 600px;
  height: 180px;
  margin-top: 30px;
  border-radius: 4px;
}
.page-title p {
  font-size: 60px;
}
.page-description {
  padding-top: 20px;
}
.page-description p {
  font-size: 18px;
}
.parallax-shape {
  line-height: 120px;
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 24px;
}
#main {
  padding: 0;
}
#main .demo {
  padding: 0;
}
.navbar {
  display: none !important;
}
.ver_mais {
  font-size: calc(12px + 10 * ((100vw + 100vh) / 2 / 1120));
  transform: 'translateY(100px)';
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  font-size: 44px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
/* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
/* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
/* Support for IE. */
  font-feature-settings: 'liga';
}
